.authentication-wrapper {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-preferred-size: 100%;
  flex-basis: 100%;
  min-height: 100vh;
  width: 100%
}

.authentication-wrapper .authentication-inner {
  width: 100%
}

.authentication-wrapper.authentication {
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center
}

.authentication-wrapper.authentication .authentication-inner {
  max-width: 380px
}

@media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
  .authentication-wrapper:after {
    content: '';
    display: block;
    -ms-flex: 0 0 0%;
    flex: 0 0 0%;
    min-height: inherit;
    width: 0;
    font-size: 0
  }
}
