<nav class="layout-navbar navbar navbar-expand-lg align-items-lg-center bg-navbar-theme container-p-x"
     id="layout-navbar">

  <a routerLink="/clients" class="navbar-brand app-brand demo d-lg-none py-0 me-4">
    <span class="app-brand-logo demo bg-primary">
      <img src="https://mylinks-crm.fr/img/logo-circle.svg" alt="Logo">
    </span>
    <span class="app-brand-text demo fw-normal ms-2">MyLinks</span>
  </a>

  <div class="layout-sidenav-toggle navbar-nav d-lg-none align-items-lg-center me-auto">
    <a class="nav-item nav-link px-0 me-lg-4">
      <em class="fas fa-bars text-large align-middle"></em>
    </a>
  </div>

  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#layout-navbar-collapse">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="navbar-collapse collapse" id="layout-navbar-collapse">

    <hr class="d-lg-none w-100 my-2">

    <div class="navbar-nav align-items-lg-center ms-auto">
      <div class="demo-navbar-notifications nav-item dropdown me-lg-3">
        <a class="nav-link dropdown-toggle hide-arrow" href="#" data-bs-toggle="dropdown">
          <em class="bi bi-bell navbar-icon align-middle"></em>
          <span class="badge badge-primary badge-dot indicator"></span>
          <span class="d-lg-none align-middle">&nbsp; Notifications</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="bg-primary text-center text-white fw-bold p-3">
            4 Nouvelles Notifications
          </div>
          <div class="list-group list-group-flush">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <div class="ui-icon ui-icon-sm fas fa-home bg-secondary border-0 text-white"></div>
              <div class="media-body line-height-condenced ms-3">
                <div class="text-body">Titre</div>
                <div class="text-light small mt-1">
                  texte texte texte texte texte texte texte texte.
                </div>
                <div class="text-light small mt-1">Il y a 12h</div>
              </div>
            </a>

            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <div class="ui-icon ui-icon-sm fas fa-user-plus bg-info border-0 text-white"></div>
              <div class="media-body line-height-condenced ms-3">
                <div class="text-body">You avez <strong>4</strong> nouveaux clients</div>
                <div class="text-light small mt-1">
                  texte texte texte texte texte texte texte texte texte texte texte texte
                </div>
              </div>
            </a>

            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <div class="ui-icon ui-icon-sm fas fa-power-off bg-danger border-0 text-white"></div>
              <div class="media-body line-height-condenced ms-3">
                <div class="text-body">Redémarrage du serveur</div>
                <div class="text-light small mt-1">
                  Il y a 19h
                </div>
              </div>
            </a>

            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <div class="ui-icon ui-icon-sm fas fa-exclamation-triangle bg-warning border-0 text-body">
              </div>
              <div class="media-body line-height-condenced ms-3">
                <div class="text-body">Serveur rempli à 99%</div>
                <div class="text-light small mt-1">
                  Texte texte texte texte texte texte.
                </div>
                <div class="text-light small mt-1">
                  Il y a 2 jours
                </div>
              </div>
            </a>
          </div>

          <a href="javascript:void(0)" class="d-block text-center text-light small p-2 my-1">
            Voir toutes les notifications
          </a>
        </div>
      </div>

      <div class="demo-navbar-messages nav-item dropdown me-lg-3">
        <a class="nav-link dropdown-toggle hide-arrow" href="#" data-bs-toggle="dropdown">
          <em class="bi bi-envelope navbar-icon align-middle"></em>
          <span class="badge badge-primary badge-dot indicator"></span>
          <span class="d-lg-none align-middle">&nbsp; Messages</span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <div class="bg-primary text-center text-white fw-bold p-3">
            4 Nouveaux Messages
          </div>
          <div class="list-group list-group-flush">
            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <img src="https://mylinks-crm.fr/img/avatars/girl.svg" class="d-block ui-w-40 rounded-circle" alt="">
              <div class="media-body ms-3">
                <div class="text-body line-height-condenced">
                  Texte texte texte texte texte texte texte texte.
                </div>
                <div class="text-light small mt-1">
                  Prénom Nom &nbsp;·&nbsp; Il y a 58m
                </div>
              </div>
            </a>

            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <img src="https://mylinks-crm.fr/img/avatars/man.svg" class="d-block ui-w-40 rounded-circle" alt="">
              <div class="media-body ms-3">
                <div class="text-body line-height-condenced">
                  Texte texte texte texte texte texte texte texte texte.
                </div>
                <div class="text-light small mt-1">
                  Prénom Nom &nbsp;·&nbsp; Il y a 1h
                </div>
              </div>
            </a>

            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <img src="https://mylinks-crm.fr/img/avatars/woman.svg" class="d-block ui-w-40 rounded-circle" alt="">
              <div class="media-body ms-3">
                <div class="text-body line-height-condenced">
                  Texte texte texte texte texte texte texte texte texte.
                </div>
                <div class="text-light small mt-1">
                  Prénom Nom &nbsp;·&nbsp; Il y a 2h
                </div>
              </div>
            </a>

            <a href="javascript:void(0)" class="list-group-item list-group-item-action media d-flex align-items-center">
              <img src="https://mylinks-crm.fr/img/avatars/girl.svg" class="d-block ui-w-40 rounded-circle" alt="">
              <div class="media-body ms-3">
                <div class="text-body line-height-condenced">
                  Texte texte texte texte texte texte texte texte texte texte texte texte.
                </div>
                <div class="text-light small mt-1">
                  Prénom Nom &nbsp;·&nbsp; Il y a 5h
                </div>
              </div>
            </a>
          </div>

          <a href="javascript:void(0)" class="d-block text-center text-light small p-2 my-1">
            Voir tous les messages
          </a>
        </div>
      </div>

      <div class="nav-item d-none d-lg-block text-big fw-light line-height-1 opacity-25 me-3 ms-1">|</div>

      <div class="demo-navbar-user nav-item dropdown">
        <a class="nav-link dropdown-toggle" href="#" data-bs-toggle="dropdown">
          <span class="d-inline-flex flex-lg-row-reverse align-items-center align-middle">
            <img src="https://mylinks-crm.fr/img/avatars/man.svg" alt="" class="d-block ui-w-30 rounded-circle"/>
            <span class="px-1 me-lg-2 ms-2 ms-lg-0">Alexis Normand</span>
          </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right">
          <a routerLink="/profile" class="dropdown-item">
            <em class="bi bi-person text-lightest"></em> &nbsp; Mon profil
          </a>
          <a routerLink="/parameters" class="dropdown-item">
            <em class="bi bi-gear text-lightest"></em> &nbsp; Paramètres du compte
          </a>
          <div class="dropdown-divider"></div>
          <button class="dropdown-item" (click)="this.signOut()">
            <em class="bi bi-box-arrow-right text-danger"></em> &nbsp; Déconnexion
          </button>
        </div>
      </div>
    </div>
  </div>
</nav>
