.navbar {
  z-index: 2
}
.navbar-collapse, .navbar-brand, .navbar-text {
  -ms-flex-negative: 1;
  flex-shrink: 1
}
.navbar-icon {
  font-size: 130%
}
.navbar-search-box {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  margin: 0
}
.navbar-search-box:not(.active) {
  cursor: pointer
}
.navbar-search-input {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-align: center;
  align-items: center;
  max-width: 0;
  transition: max-width .3s ease-in-out
}
.navbar-search-box.active .navbar-search-input {
  max-width: 100vw
}
.navbar-search-input .form-control {
  padding-right: 0;
  padding-left: 0;
  width: auto;
  border: 0;
  border-radius: 0;
  background: none;
  color: inherit !important
}
.navbar-search-cancel {
  color: inherit !important;
  font-weight: 100;
  font-size: 1.55em;
  line-height: 1;
  opacity: .5
}
.navbar-search-cancel:hover, .navbar-search-cancel:focus {
  opacity: 1
}
