<div class="authentication-wrapper authentication ui-bg-cover ui-bg-overlay-container px-4"
     style="background-image: url('assets/img/auth-bg.jpg');">
  <div class="ui-bg-overlay bg-dark opacity-25"></div>

  <div class="authentication-inner py-5">

    <div class="card">
      <div class="p-4 p-sm-5">

        <!-- Logo -->
        <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
          <div class="ui-w-60">
            <div class="w-100 position-relative">
              <img src="assets/img/logo.svg" alt="logo"/>
            </div>
          </div>
        </div>
        <!-- / Logo -->

        <h6 class="text-center text-muted fw-normal mb-4">
          Connectez-vous à votre compte
        </h6>

        <div class="alert alert-dark-danger" *ngIf="errorMessage">
          {{errorMessage}}
        </div>

        <!-- Form -->
        <form [formGroup]="signInForm" (ngSubmit)="signIn()">

          <!-- Input Email -->
          <div class="mb-3">
            <label class="form-label" for="email">Adresse Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="Adresse Email"
              autocomplete="email"
              formControlName="email"
              required
            />
          </div>
          <!-- / Input Email -->

          <!-- Input Password -->
          <div class="mb-3">
            <label class="form-label d-flex justify-content-between align-items-end" for="password">
              <span>Mot de passe</span>
              <a routerLink="/forgot" class="d-block small" tabindex="-1">Mot de passe oublié ?</a>
            </label>
            <input
              type="password"
              id="password"
              class="form-control"
              placeholder="Mot de passe"
              autocomplete="current-password"
              formControlName="password"
              required
            />
          </div>
          <!-- / Input Password -->

          <!-- Form Button -->
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
              Se connecter
            </button>
          </div>
          <!-- / Form Button -->

        </form>
        <!-- / Form -->

      </div>
      <div class="card-footer py-3 px-4 px-sm-5">
        <div class="text-center text-muted">
          Vous n'avez pas de compte ?
          <a routerLink="/sign-up">S'inscrire</a>
        </div>
      </div>

    </div>

  </div>
</div>
