.app-brand.demo {
  height: 62px;
}

.app-brand-logo.demo {
  display: -ms-flexbox;
  display: flex;
  width: 30px;
  height: 30px;
  border-radius: 50%;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-pack: center;
  justify-content: center;
}

.app-brand-logo.demo svg {
  width: 20px;
  height: 11px;
}

.app-brand-text.demo {
  font-size: 1.1rem;
}

.layout-1 .layout-sidenav .app-brand.demo,
.layout-1 .layout-sidenav .app-brand.demo + .sidenav-divider,
.layout-reversed .layout-2 .layout-sidenav .app-brand.demo {
  display: none;
}

.layout-1 .layout-navbar .app-brand.demo,
.layout-reversed .layout-2 .layout-navbar .app-brand.demo {
  display: -ms-flexbox !important;
  display: flex !important;
}

.layout-1 .layout-navbar .layout-sidenav-toggle,
.layout-reversed .layout-2 .layout-navbar .layout-sidenav-toggle,
.layout-offcanvas .layout-navbar .layout-sidenav-toggle,
.layout-fixed-offcanvas .layout-navbar .layout-sidenav-toggle {
  display: block !important;
}

@media (min-width: 992px) {
  .layout-offcanvas .layout-sidenav .layout-sidenav-toggle,
  .layout-fixed-offcanvas .layout-sidenav .layout-sidenav-toggle {
    display: none;
  }
}

/* *****************************************************************************
 * Navbar
 */

.demo-navbar-messages .dropdown-toggle,
.demo-navbar-notifications .dropdown-toggle,
.demo-navbar-user .dropdown-toggle,
.demo-navbar-messages.b-nav-dropdown .nav-link,
.demo-navbar-notifications.b-nav-dropdown .nav-link,
.demo-navbar-user.b-nav-dropdown .nav-link {
  white-space: nowrap;
}

.demo-navbar-messages .dropdown-menu,
.demo-navbar-notifications .dropdown-menu {
  overflow: hidden;
  padding: 0;
}

@media (min-width: 992px) {
  .demo-navbar-messages .dropdown-menu,
  .demo-navbar-notifications .dropdown-menu {
    margin-top: .5rem;
    width: 22rem;
  }

  .demo-navbar-user .dropdown-menu {
    margin-top: .25rem;
  }
}


/* *****************************************************************************
 * Content
 */

.demo-vertical-spacing > * + * {
  margin-top: 1.875rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-sm > * + * {
  margin-top: .9375rem !important;
  margin-bottom: 0 !important;
}

.demo-vertical-spacing-lg > * + * {
  margin-top: 5rem !important;
  margin-bottom: 0 !important;
}

.demo-inline-spacing > *,
.demo-paragraph-spacing > p > * {
  margin: 0 .375rem .9375rem 0 !important;
}

.demo-paragraph-spacing > p {
  margin: 0;
}

.demo-blocks > * {
  display: block !important;
}

html:not(.material-style) .material-style-only {
  display: none !important;
}

.rtl-only {
  display: none !important;
  text-align: left !important;
  direction: ltr !important;
}

[dir=rtl] .rtl-only {
  display: block !important;
}

/* *****************************************************************************
 * Layouts
 */

.layout-example-block {
  margin-top: 10px;
  padding: 10px;
  border: 1px solid rgba(0, 0, 0, .04);
  border-radius: 2px;
  background: rgba(0, 0, 0, .04);
  color: #c7254e;
}

.layout-example-block code {
  background: none;
  color: #666;
}

.layout-example-block-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: stretch;
  align-items: stretch;
  -ms-flex-pack: justify;
  justify-content: space-between;
  height: 500px;
}

.layout-example-block-sidenav {
  width: 24%;
  background: #607d8b;
}

.layout-example-block-sidenav code {
  color: #fff;
}

.layout-example-block-navbar {
  background: #3ca99e;
}

.layout-example-block-navbar code {
  color: #fff;
}

.layout-example-block-content {
  background: #9e9e9e;
}

.layout-example-block-content code {
  color: #fff;
}

.layout-example-block-1 .layout-example-block-content {
  width: 74%;
}

.layout-example-block-2 .layout-example-block-container {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  width: 74%;
}

.layout-example-block-2 > .layout-example-block {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.layout-example-block-2 .layout-example-block-content {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.layout-example-block-1-no-sidenav .layout-example-block-content {
  width: 100%;
}

.layout-example-code {
  display: block;
  overflow: auto;
  margin: 0;
  padding: 30px;
  min-width: 0;
  width: 100%;
  background: #fff;
}

.layout-example-run {
  display: inline-block;
  margin: 3px;
  padding: 4px 6px;
  border: 1px solid #eee;
  background: transparent;
  white-space: nowrap;
  line-height: 1;
}

.layout-example-block-3 .layout-example-block-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
}

.layout-example-block-3 .layout-example-block-inner > .layout-example-block {
  -ms-flex: 0 0 auto;
  flex: 0 0 auto;
}

.layout-example-block-3 .layout-example-block-inner .layout-example-block-container-fluid {
  -ms-flex-positive: 1;
  flex-grow: 1;
}

.layout-example-block-3 .layout-example-block-sidenav-horizontal {
  background: #607d8b;
}

.layout-example-block-3 .layout-example-block-container-fluid {
  background: #fff;
}

.layout-example-block-3 .layout-example-block-container-fluid code {
  color: #666;
}

.layout-example-block-3 .layout-example-block-footer {
  background: #e6514a;
}

.flexdatalist-results span:not(:first-child):not(.highlight) {
  padding-left: 10px;
  display: inline-block;
  font-size: 80%;
  color: rgba(0, 0, 0, 0.50);
}

.user-view-table {
  table-layout: fixed
}

.user-view-table td {
  padding-right: 0;
  padding-left: 0;
  border: 0
}

.user-view-table td:first-child {
  width: 12rem
}

.user-view-table td:not(:first-child) {
  min-width: 12rem
}

.user-edit-fileinput {
  position: absolute;
  visibility: hidden;
  width: 1px;
  height: 1px;
  opacity: 0
}

.user-edit-multiselect ~ .select2-container {
  width: 100% !important
}

.flatpickr-monthDropdown-month {
  color: #1b1b1b;
}

.badge-outline-purple {
  background-color: transparent;
  box-shadow: 0 0 0 1px #775cdc inset;
  color: #775cdc;
}

.badge-outline-purple[href]:hover, .badge-outline-purple[href]:focus {
  color: #775cdc;
  text-decoration: none;
}

.list-group-item.disabled, .list-group-item:disabled {
  text-decoration: line-through;
}

/* aw-wizard */
aw-wizard {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: start;
  justify-content: flex-start
}

aw-wizard.vertical {
  -ms-flex-direction: row;
  flex-direction: row
}

aw-wizard.horizontal {
  -ms-flex-direction: column;
  flex-direction: column
}

aw-wizard.horizontal ul.steps-indicator {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: row;
  flex-direction: row;
  -ms-flex-pack: center;
  justify-content: center
}

aw-wizard.vertical ul.steps-indicator {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex-pack: center;
  justify-content: center
}

aw-wizard ul.steps-indicator {
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  margin: 0;
  padding: 0
}

aw-wizard ul.steps-indicator li {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex-positive: 1;
  flex-grow: 1;
  padding: 0 2rem 0 3.75rem;
  min-height: 2.5rem;
  width: auto;
  position: relative;
  cursor: default
}

[dir=rtl] aw-wizard ul.steps-indicator li {
  padding: 0 3.75rem 0 2rem
}

aw-wizard ul.steps-indicator li a {
  color: inherit;
  margin: 0;
  padding: 0;
  text-align: inherit;
  text-transform: none;
  line-height: inherit
}

aw-wizard ul.steps-indicator .step-indicator {
  position: absolute;
  top: 50%;
  left: 0;
  display: block;
  margin-top: -1.25rem;
  width: 2.5rem;
  height: 2.5rem;
  border: 2px solid;
  border-radius: 50%;
  text-align: center;
  line-height: calc(2.5rem - 4px)
}

[dir=rtl] aw-wizard ul.steps-indicator .step-indicator {
  right: 0;
  left: auto
}

aw-wizard.aw-wizard-icons ul.steps-indicator .step-indicator {
  vertical-align: middle;
  font-size: 115%
}

.wizard-steps.vertical {
  -ms-flex-positive: 1;
  flex-grow: 1;
  min-width: 0;
  width: auto
}

aw-wizard-navigation-bar.vertical {
  position: -webkit-sticky;
  position: sticky;
  margin-top: -2rem;
  max-width: none;
  width: auto
}

aw-wizard-navigation-bar.vertical ul.steps-indicator {
  margin-top: 2rem
}

.light-style aw-wizard-navigation-bar ul.steps-indicator li a {
  font-weight: 500
}

.light-style aw-wizard ul.steps-indicator li {
  margin: 0 0 1rem
}

.light-style aw-wizard.aw-wizard-bottom:not(.aw-wizard-boxed-steps) ul.steps-indicator li {
  margin: 1rem 0 0
}

.light-style aw-wizard ul.steps-indicator li .step-indicator {
  border-color: rgba(24, 28, 33, .06);
  color: #4e5155
}

.light-style aw-wizard ul.steps-indicator li a {
  opacity: .4
}

.light-style aw-wizard ul.steps-indicator li.current a, .light-style aw-wizard ul.steps-indicator li.done a, .light-style aw-wizard ul.steps-indicator li.editing a {
  opacity: 1
}

.light-style .aw-wizard-boxed-steps ul.steps-indicator {
  margin-bottom: 1rem;
  padding: 1rem 0 0 1.5rem;
  border: 1px solid rgba(24, 28, 33, .06);
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 1px 4px rgba(24, 28, 33, .012);
  border-radius: .25rem
}

.light-style .aw-wizard-boxed-steps ul.steps-indicator li {
  margin-bottom: 1rem;
  padding: 0 1.5rem 0 3.75rem
}

.light-style .aw-wizard-boxed-steps.aw-wizard-bottom ul.steps-indicator {
  margin-top: 1rem;
  margin-bottom: 0
}

@media (max-width: 767px) {
  .light-style aw-wizard.vertical {
    -ms-flex-direction: column;
    flex-direction: column
  }

  .light-style aw-wizard.vertical aw-wizard-navigation-bar {
    position: relative;
    margin-top: 0
  }

  .light-style aw-wizard.vertical ul.steps-indicator {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 0
  }

  .light-style aw-wizard.vertical.aw-wizard-right {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

@media (min-width: 768px) {
  .light-style aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li {
    padding: 0 0 0 5.75rem
  }

  .light-style aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li .step-indicator {
    left: 2rem
  }

  .light-style aw-wizard.vertical.aw-wizard-boxed-steps ul.steps-indicator {
    padding-top: 1.5rem;
    padding-bottom: .5rem
  }

  .light-style aw-wizard.vertical.aw-wizard-boxed-steps.aw-wizard-left ul.steps-indicator {
    margin-right: 1rem;
    margin-bottom: 0
  }

  .light-style aw-wizard.vertical.aw-wizard-boxed-steps.aw-wizard-right ul.steps-indicator {
    margin-bottom: 0;
    margin-left: 1rem
  }
}

.light-style[dir=rtl] .aw-wizard-boxed-steps ul.steps-indicator {
  padding: 1rem 1.5rem 0 0
}

.light-style[dir=rtl] .aw-wizard-boxed-steps ul.steps-indicator li {
  padding: 0 3.75rem 0 1.5rem
}

@media (min-width: 768px) {
  .light-style[dir=rtl] aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li {
    padding: 0 5.75rem 0 0
  }

  .light-style[dir=rtl] aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li .step-indicator {
    right: 2rem;
    left: auto
  }

  .light-style[dir=rtl] aw-wizard.vertical.aw-wizard-left ul.steps-indicator {
    margin-right: 0;
    margin-left: 1rem
  }

  .light-style[dir=rtl] aw-wizard.vertical.aw-wizard-right ul.steps-indicator {
    margin-right: 1rem;
    margin-left: 0
  }
}

.material-style aw-wizard-navigation-bar ul.steps-indicator li a {
  font-weight: 500
}

.material-style aw-wizard ul.steps-indicator li {
  margin: 0 0 1rem
}

.material-style aw-wizard.aw-wizard-bottom:not(.aw-wizard-boxed-steps) ul.steps-indicator li {
  margin: 1rem 0 0
}

.material-style aw-wizard ul.steps-indicator li .step-indicator {
  border-color: rgba(24, 28, 33, .06);
  color: #4e5155
}

.material-style aw-wizard ul.steps-indicator li a {
  opacity: .4
}

.material-style aw-wizard ul.steps-indicator li.current a, .material-style aw-wizard ul.steps-indicator li.done a, .material-style aw-wizard ul.steps-indicator li.editing a {
  opacity: 1
}

.material-style .aw-wizard-boxed-steps ul.steps-indicator {
  margin-bottom: 1rem;
  padding: 1rem 0 0 1.5rem;
  border: 0 solid rgba(24, 28, 33, .06);
  background: #fff;
  background-clip: padding-box;
  box-shadow: 0 2px 3px 0 rgba(0, 0, 0, .03), 0 1px 4px 0 rgba(0, 0, 0, .04), 0 3px 1px -2px rgba(0, 0, 0, .04);
  border-radius: .125rem
}

.material-style .aw-wizard-boxed-steps ul.steps-indicator li {
  margin-bottom: 1rem;
  padding: 0 1.5rem 0 3.75rem
}

.material-style .aw-wizard-boxed-steps.aw-wizard-bottom ul.steps-indicator {
  margin-top: 1rem;
  margin-bottom: 0
}

@media (max-width: 767px) {
  .material-style aw-wizard.vertical {
    -ms-flex-direction: column;
    flex-direction: column
  }

  .material-style aw-wizard.vertical aw-wizard-navigation-bar {
    position: relative;
    margin-top: 0
  }

  .material-style aw-wizard.vertical ul.steps-indicator {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 0
  }

  .material-style aw-wizard.vertical.aw-wizard-right {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

@media (min-width: 768px) {
  .material-style aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li {
    padding: 0 0 0 5.75rem
  }

  .material-style aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li .step-indicator {
    left: 2rem
  }

  .material-style aw-wizard.vertical.aw-wizard-boxed-steps ul.steps-indicator {
    padding-top: 1.5rem;
    padding-bottom: .5rem
  }

  .material-style aw-wizard.vertical.aw-wizard-boxed-steps.aw-wizard-left ul.steps-indicator {
    margin-right: 1rem;
    margin-bottom: 0
  }

  .material-style aw-wizard.vertical.aw-wizard-boxed-steps.aw-wizard-right ul.steps-indicator {
    margin-bottom: 0;
    margin-left: 1rem
  }
}

.material-style[dir=rtl] .aw-wizard-boxed-steps ul.steps-indicator {
  padding: 1rem 1.5rem 0 0
}

.material-style[dir=rtl] .aw-wizard-boxed-steps ul.steps-indicator li {
  padding: 0 3.75rem 0 1.5rem
}

@media (min-width: 768px) {
  .material-style[dir=rtl] aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li {
    padding: 0 5.75rem 0 0
  }

  .material-style[dir=rtl] aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li .step-indicator {
    right: 2rem;
    left: auto
  }

  .material-style[dir=rtl] aw-wizard.vertical.aw-wizard-left ul.steps-indicator {
    margin-right: 0;
    margin-left: 1rem
  }

  .material-style[dir=rtl] aw-wizard.vertical.aw-wizard-right ul.steps-indicator {
    margin-right: 1rem;
    margin-left: 0
  }
}

.dark-style aw-wizard-navigation-bar ul.steps-indicator li a {
  font-weight: 500
}

.dark-style aw-wizard ul.steps-indicator li {
  margin: 0 0 1rem
}

.dark-style aw-wizard.aw-wizard-bottom:not(.aw-wizard-boxed-steps) ul.steps-indicator li {
  margin: 1rem 0 0
}

.dark-style aw-wizard ul.steps-indicator li .step-indicator {
  border-color: hsla(0, 0%, 100%, .1);
  color: #fff
}

.dark-style aw-wizard ul.steps-indicator li a {
  opacity: .4
}

.dark-style aw-wizard ul.steps-indicator li.current a, .dark-style aw-wizard ul.steps-indicator li.done a, .dark-style aw-wizard ul.steps-indicator li.editing a {
  opacity: 1
}

.dark-style .aw-wizard-boxed-steps ul.steps-indicator {
  margin-bottom: 1rem;
  padding: 1rem 0 0 1.5rem;
  border: 1px solid #32353b;
  background: #32353b;
  background-clip: padding-box;
  box-shadow: 0 1px 8px rgba(0, 0, 0, .08);
  border-radius: .25rem
}

.dark-style .aw-wizard-boxed-steps ul.steps-indicator li {
  margin-bottom: 1rem;
  padding: 0 1.5rem 0 3.75rem
}

.dark-style .aw-wizard-boxed-steps.aw-wizard-bottom ul.steps-indicator {
  margin-top: 1rem;
  margin-bottom: 0
}

@media (max-width: 767px) {
  .dark-style aw-wizard.vertical {
    -ms-flex-direction: column;
    flex-direction: column
  }

  .dark-style aw-wizard.vertical aw-wizard-navigation-bar {
    position: relative;
    margin-top: 0
  }

  .dark-style aw-wizard.vertical ul.steps-indicator {
    -ms-flex-direction: row;
    flex-direction: row;
    margin-top: 0
  }

  .dark-style aw-wizard.vertical.aw-wizard-right {
    -ms-flex-direction: column-reverse;
    flex-direction: column-reverse
  }
}

@media (min-width: 768px) {
  .dark-style aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li {
    padding: 0 0 0 5.75rem
  }

  .dark-style aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li .step-indicator {
    left: 2rem
  }

  .dark-style aw-wizard.vertical.aw-wizard-boxed-steps ul.steps-indicator {
    padding-top: 1.5rem;
    padding-bottom: .5rem
  }

  .dark-style aw-wizard.vertical.aw-wizard-boxed-steps.aw-wizard-left ul.steps-indicator {
    margin-right: 1rem;
    margin-bottom: 0
  }

  .dark-style aw-wizard.vertical.aw-wizard-boxed-steps.aw-wizard-right ul.steps-indicator {
    margin-bottom: 0;
    margin-left: 1rem
  }
}

.dark-style[dir=rtl] .aw-wizard-boxed-steps ul.steps-indicator {
  padding: 1rem 1.5rem 0 0
}

.dark-style[dir=rtl] .aw-wizard-boxed-steps ul.steps-indicator li {
  padding: 0 3.75rem 0 1.5rem
}

@media (min-width: 768px) {
  .dark-style[dir=rtl] aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li {
    padding: 0 5.75rem 0 0
  }

  .dark-style[dir=rtl] aw-wizard.vertical.aw-wizard-right:not(.aw-wizard-boxed-steps) ul.steps-indicator li .step-indicator {
    right: 2rem;
    left: auto
  }

  .dark-style[dir=rtl] aw-wizard.vertical.aw-wizard-left ul.steps-indicator {
    margin-right: 0;
    margin-left: 1rem
  }

  .dark-style[dir=rtl] aw-wizard.vertical.aw-wizard-right ul.steps-indicator {
    margin-right: 1rem;
    margin-left: 0
  }
}
