body {
  background: #f5f5f5
}

.bg-body {
  background: #f5f5f5 !important
}

.text-primary {
  color: #3c97fe !important
}

a.text-primary:hover, a.text-primary:focus {
  color: #016fec !important
}

.bg-primary {
  background-color: #3c97fe !important
}

a.bg-primary:hover, a.bg-primary:focus {
  background-color: #398ff1 !important
}

.bg-primary-dark {
  background-color: #3688e5 !important
}

a.bg-primary-dark:hover, a.bg-primary-dark:focus {
  background-color: #3381da !important
}

.bg-primary-darker {
  background-color: #3380d8 !important
}

a.bg-primary-darker:hover, a.bg-primary-darker:focus {
  background-color: #307acd !important
}

html:not([dir=rtl]) .border-primary, html[dir=rtl] .border-primary {
  border-color: #3c97fe !important
}

.badge-primary {
  background-color: #3c97fe;
  color: #fff
}

.badge-primary[href]:hover, .badge-primary[href]:focus {
  background-color: #398ff1;
  color: #fff;
  text-decoration: none
}

.btn .badge-primary {
  background: #3c97fe !important;
  border-color: #3c97fe !important;
  color: #fff !important
}

.badge-outline-primary {
  background-color: transparent;
  box-shadow: 0 0 0 1px #3c97fe inset;
  color: #3c97fe
}

.badge-outline-primary[href]:hover, .badge-outline-primary[href]:focus {
  color: #3c97fe;
  text-decoration: none
}

.btn .badge-outline-primary {
  background-color: transparent !important;
  box-shadow: 0 0 0 1px #3c97fe inset !important;
  color: #3c97fe !important
}

.page-item.active .page-link, .page-item.active .page-link:hover, .page-item.active .page-link:focus, .pagination li.active > a:not(.page-link), .pagination li.active > a:not(.page-link):hover, .pagination li.active > a:not(.page-link):focus {
  border-color: #3c97fe;
  background-color: #3c97fe;
  color: #fff
}

.progress-bar {
  background-color: #3c97fe;
  color: #fff
}

.list-group-item-primary {
  border-color: rgba(0, 0, 0, 0.07);
  background-color: #ecf5ff;
  color: #5e6266
}

a.list-group-item-primary, button.list-group-item-primary {
  color: #5e6266
}

a.list-group-item-primary:hover, a.list-group-item-primary:focus, button.list-group-item-primary:hover, button.list-group-item-primary:focus {
  background-color: #eaf3fc;
  color: #5e6266
}

a.list-group-item-primary.active, button.list-group-item-primary.active {
  border-color: #3c97fe;
  background-color: #3c97fe;
  color: #5e6266
}

.list-group-item.active, .list-group-item.active:hover, .list-group-item.active:focus {
  border-color: #3c97fe;
  background-color: #3c97fe;
  color: #fff
}

.alert-primary {
  border-color: #d4e1f0;
  background-color: #e2efff;
  color: #5a6066
}

.alert-primary hr {
  border-top-color: #d4e1f0
}

.alert-primary .alert-link {
  color: #5a6066
}

.alert-dark-primary {
  background-color: #3c97fe;
  color: #fff
}

.alert-dark-primary hr {
  border-top-color: rgba(255, 255, 255, 0.2)
}

.alert-dark-primary .close, .alert-dark-primary .alert-link {
  color: #fff
}

.tooltip-primary .tooltip-inner, .tooltip-primary > .tooltip .tooltip-inner, .ngb-tooltip-primary + ngb-tooltip-window .tooltip-inner {
  background: #3c97fe;
  color: #fff
}

.tooltip-primary.bs-tooltip-top .arrow::before, .tooltip-primary.bs-tooltip-auto[x-placement^="top"] .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-top .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^="top"] .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-top .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^="top"] .arrow::before {
  border-top-color: #3c97fe
}

.tooltip-primary.bs-tooltip-right .arrow::before, .tooltip-primary.bs-tooltip-auto[x-placement^="right"] .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-right .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^="right"] .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-right .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^="right"] .arrow::before {
  border-right-color: #3c97fe
}

.tooltip-primary.bs-tooltip-bottom .arrow::before, .tooltip-primary.bs-tooltip-auto[x-placement^="bottom"] .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-bottom .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^="bottom"] .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-bottom .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^="bottom"] .arrow::before {
  border-bottom-color: #3c97fe
}

.tooltip-primary.bs-tooltip-left .arrow::before, .tooltip-primary.bs-tooltip-auto[x-placement^="left"] .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-left .arrow::before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^="left"] .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-left .arrow::before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^="left"] .arrow::before {
  border-left-color: #3c97fe
}

.popover-primary, .popover-primary > .popover, .ngb-popover-primary + ngb-popover-window {
  border-color: transparent;
  background: #3c97fe
}

.popover-primary .popover-header, .popover-primary > .popover .popover-header, .ngb-popover-primary + ngb-popover-window .popover-header {
  border-color: rgba(255, 255, 255, 0.2);
  background: transparent;
  color: #fff
}

.popover-primary .popover-body, .popover-primary > .popover .popover-body, .ngb-popover-primary + ngb-popover-window .popover-body {
  background: transparent;
  color: #fff
}

.popover-primary > .arrow::before, .popover-primary > .popover > .arrow::before, .ngb-popover-primary + ngb-popover-window > .arrow::before {
  border-color: transparent
}

.popover-primary.bs-popover-top > .arrow::after, .popover-primary.bs-popover-auto[x-placement^="top"] > .arrow::after, .popover-primary > .popover.bs-popover-top > .arrow::after, .popover-primary > .popover.bs-popover-auto[x-placement^="top"] > .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-top > .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^="top"] > .arrow::after {
  border-top-color: #3c97fe
}

.popover-primary.bs-popover-right > .arrow::after, .popover-primary.bs-popover-auto[x-placement^="right"] > .arrow::after, .popover-primary > .popover.bs-popover-right > .arrow::after, .popover-primary > .popover.bs-popover-auto[x-placement^="right"] > .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-right > .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^="right"] > .arrow::after {
  border-right-color: #3c97fe
}

.popover-primary.bs-popover-bottom > .arrow::after, .popover-primary.bs-popover-auto[x-placement^="bottom"] > .arrow::after, .popover-primary > .popover.bs-popover-bottom > .arrow::after, .popover-primary > .popover.bs-popover-auto[x-placement^="bottom"] > .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-bottom > .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^="bottom"] > .arrow::after {
  border-bottom-color: #3c97fe
}

.popover-primary.bs-popover-left > .arrow::after, .popover-primary.bs-popover-auto[x-placement^="left"] > .arrow::after, .popover-primary > .popover.bs-popover-left > .arrow::after, .popover-primary > .popover.bs-popover-auto[x-placement^="left"] > .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-left > .arrow::after, .ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^="left"] > .arrow::after {
  border-left-color: #3c97fe
}

.table .table-primary, .table .table-primary > th, .table .table-primary > td {
  border-color: rgba(0, 0, 0, 0.035) !important;
  background-color: #ecf5ff;
  color: #5e6266
}

.table-hover .table-primary:hover, .table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
  background-color: #eaf3fc
}

.dropdown-item:not(.disabled).active, .dropdown-item:not(.disabled):active {
  background-color: #3c97fe;
  color: #fff
}

.dropdown-menu > li:not(.disabled) > a:not(.dropdown-item):active, .dropdown-menu > li.active:not(.disabled) > a:not(.dropdown-item) {
  background-color: #3c97fe;
  color: #fff
}

.nav-pills .nav-link.active, .nav-pills .nav-link.active:hover, .nav-pills .nav-link.active:focus {
  background-color: #3c97fe;
  color: #fff
}

.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt > .nav-tabs .nav-link.active, .tabs-alt > .nav-tabs .nav-link.active:hover, .tabs-alt > .nav-tabs .nav-link.active:focus {
  box-shadow: 0 -2px 0 #3c97fe inset
}

.custom-control .custom-control-input:focus ~ .custom-control-label::before, .custom-control .custom-control-input:active ~ .custom-control-label::before {
  border-color: #3c97fe
}

.custom-control .custom-control-input:focus ~ .custom-control-label::before {
  box-shadow: 0 0 0 2px rgba(60, 151, 254, 0.4)
}

.custom-control.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before, .custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before, .custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  border-color: #3c97fe;
  background-color: #3c97fe
}

.custom-control.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E")
}

.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.5 7.5'%3E%3Cpolyline points='0.75 4.35 4.18 6.75 8.75 0.75' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px'/%3E%3C/svg%3E")
}

.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label::before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E")
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #3c97fe
}

.custom-file-input:focus ~ .custom-file-label::after {
  border-color: inherit
}

.form-control:focus, .custom-select:focus {
  border-color: #3c97fe
}

.switcher-input:checked ~ .switcher-indicator {
  background: #3c97fe;
  color: #fff
}

.switcher-input:focus ~ .switcher-indicator {
  box-shadow: 0 0 0 2px rgba(60, 151, 254, 0.4)
}

.switcher-input:active ~ .switcher-indicator {
  box-shadow: none
}

.navbar.bg-primary {
  background-color: #3c97fe !important;
  color: #daecff
}

.navbar.bg-primary .navbar-brand {
  color: #fff
}

.navbar.bg-primary .navbar-brand:hover, .navbar.bg-primary .navbar-brand:focus {
  color: #fff
}

.navbar.bg-primary .navbar-nav .nav-link {
  color: #daecff
}

.navbar.bg-primary .navbar-nav .nav-link:hover, .navbar.bg-primary .navbar-nav .nav-link:focus {
  color: #fff
}

.navbar.bg-primary .navbar-nav .nav-link.disabled {
  color: #9bcaff !important
}

.navbar.bg-primary .navbar-nav .show > .nav-link, .navbar.bg-primary .navbar-nav .active > .nav-link, .navbar.bg-primary .navbar-nav .nav-link.show, .navbar.bg-primary .navbar-nav .nav-link.active {
  color: #fff
}

.navbar.bg-primary .navbar-toggler {
  color: #daecff;
  border-color: rgba(255, 255, 255, 0.15)
}

.navbar.bg-primary .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(255,255,255,0.8)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.navbar.bg-primary .navbar-text {
  color: #daecff
}

.navbar.bg-primary .navbar-text a {
  color: #fff
}

.navbar.bg-primary .navbar-text a:hover, .navbar.bg-primary .navbar-text a:focus {
  color: #fff
}

.navbar.bg-primary hr {
  border-color: rgba(255, 255, 255, 0.15)
}

.sidenav.bg-primary {
  background-color: #3c97fe !important;
  color: #daecff
}

.sidenav.bg-primary .sidenav-link, .sidenav.bg-primary .sidenav-horizontal-prev, .sidenav.bg-primary .sidenav-horizontal-next {
  color: #daecff
}

.sidenav.bg-primary .sidenav-link:hover, .sidenav.bg-primary .sidenav-link:focus, .sidenav.bg-primary .sidenav-horizontal-prev:hover, .sidenav.bg-primary .sidenav-horizontal-prev:focus, .sidenav.bg-primary .sidenav-horizontal-next:hover, .sidenav.bg-primary .sidenav-horizontal-next:focus {
  color: #fff
}

.sidenav.bg-primary .sidenav-link.active, .sidenav.bg-primary .sidenav-horizontal-prev.active, .sidenav.bg-primary .sidenav-horizontal-next.active {
  color: #fff
}

.sidenav.bg-primary .sidenav-item.disabled .sidenav-link, .sidenav.bg-primary .sidenav-horizontal-prev.disabled, .sidenav.bg-primary .sidenav-horizontal-next.disabled {
  color: #9bcaff !important
}

.sidenav.bg-primary .sidenav-item.open:not(.sidenav-item-closing) > .sidenav-toggle, .sidenav.bg-primary .sidenav-item.active > .sidenav-link {
  color: #fff
}

.sidenav.bg-primary .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #398ff1
}

.sidenav.bg-primary.sidenav-horizontal .sidenav-menu > .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #3688e5
}

.sidenav.bg-primary.sidenav-horizontal .sidenav-inner > .sidenav-item:not(.sidenav-item-closing) > .sidenav-menu, .sidenav.bg-primary.sidenav-horizontal .sidenav-inner > .sidenav-item.open > .sidenav-toggle {
  background: #398ff1
}

.sidenav.bg-primary .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-menu, .sidenav.bg-primary .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-toggle {
  background: transparent;
  color: #daecff
}

.sidenav.bg-primary .sidenav-text {
  color: #fff
}

.sidenav.bg-primary .sidenav-header {
  color: #b3d7ff
}

.sidenav.bg-primary hr, .sidenav.bg-primary .sidenav-divider, .sidenav.bg-primary .sidenav-inner > .sidenav-item.open > .sidenav-menu::before {
  border-color: rgba(255, 255, 255, 0.15) !important
}

.sidenav.bg-primary .sidenav-inner > .sidenav-header::before, .sidenav.bg-primary .sidenav-block::before {
  background-color: rgba(255, 255, 255, 0.15)
}

.sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle::before {
  background-color: #57a0f3
}

.sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link::before {
  background-color: #fff
}

.sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle::before, .sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link::before {
  box-shadow: 0 0 0 2px #398ff1
}

.sidenav.bg-primary .ps__thumb-y, .sidenav.bg-primary .ps__rail-y.ps--clicking > .ps__thumb-y {
  background: rgba(255, 255, 255, 0.612601) !important
}

.footer.bg-primary {
  background-color: #3c97fe !important;
  color: #daecff
}

.footer.bg-primary .footer-link {
  color: #daecff
}

.footer.bg-primary .footer-link:hover, .footer.bg-primary .footer-link:focus {
  color: #fff
}

.footer.bg-primary .footer-link.disabled {
  color: #9bcaff !important
}

.footer.bg-primary .footer-text {
  color: #fff
}

.footer.bg-primary .show > .footer-link, .footer.bg-primary .active > .footer-link, .footer.bg-primary .footer-link.show, .footer.bg-primary .footer-link.active {
  color: #fff
}

.footer.bg-primary hr {
  border-color: rgba(255, 255, 255, 0.15)
}

.bg-primary.bs4-toast {
  color: #fff;
  background-color: rgba(60, 151, 254, 0.9) !important
}

.bg-primary.bs4-toast .toast-header {
  color: #fff;
  background-color: rgba(255, 255, 255, 0.1)
}

.fill-primary {
  fill: #3c97fe
}

.slider-primary .slider-selection, .slider-primary .slider-reversed .slider-track-high, .slider-primary.slider-reversed .slider-track-high {
  background: #3c97fe
}

.noUi-primary .noUi-base .noUi-connect {
  background: #3c97fe !important
}

.default-style .select2-container--default .select2-results__option--highlighted[aria-selected] {
  background-color: #3c97fe !important;
  color: #fff !important
}

.default-style .select2-container--default.select2-container--focus .select2-selection, .default-style .select2-container--default.select2-container--open .select2-selection {
  border-color: #3c97fe !important
}

.default-style .select2-primary .select2-container--default .select2-selection--multiple .select2-selection__choice {
  background: #3c97fe;
  color: #fff
}

.bootstrap-tagsinput.focus {
  border-color: #3c97fe !important
}

.bootstrap-select .dropdown-menu.inner a[aria-selected=true] {
  background: #3c97fe !important;
  color: #fff !important
}

.datepicker table tr td.active, .datepicker table tr td.active.highlighted, .datepicker table tr td.active.today, .datepicker table tr td span.active, .datepicker table tr td span.active.disabled, .datepicker table tr td.range-start, .datepicker table tr td.range-end {
  background: #3c97fe !important;
  color: #fff !important
}

.datepicker table tr td.range, .datepicker table tr td.range.highlighted, .datepicker table tr td.range.today {
  background: #e2efff !important;
  color: #5a6066 !important
}

.datepicker table tr td.range.focused, .datepicker table tr td.range.highlighted.focused, .datepicker table tr td.range.today.focused {
  background: #c3deff !important
}

.datepicker table tr td.range.disabled, .datepicker table tr td.range.highlighted.disabled, .datepicker table tr td.range.today.disabled {
  background: rgba(226, 239, 255, 0.5) !important;
  color: rgba(90, 96, 102, 0.5) !important
}

.flatpickr-calendar .numInputWrapper span.arrowUp:after {
  border-bottom-color: #fff
}

.flatpickr-calendar .numInputWrapper span.arrowDown:after {
  border-top-color: #fff
}

.flatpickr-month, span.flatpickr-weekday {
  background: #3c97fe;
  color: #fff;
  fill: #fff
}

.flatpickr-weekdays {
  background: #3c97fe
}

.flatpickr-day.today {
  border-color: #3c97fe
}

.flatpickr-day.inRange, .flatpickr-day.prevMonthDay.inRange, .flatpickr-day.nextMonthDay.inRange, .flatpickr-day.today.inRange, .flatpickr-day.prevMonthDay.today.inRange, .flatpickr-day.nextMonthDay.today.inRange {
  border-color: #e2efff !important;
  background: #e2efff !important;
  color: #5a6066 !important
}

.flatpickr-day.selected, .flatpickr-day.startRange, .flatpickr-day.endRange, .flatpickr-day.selected.inRange, .flatpickr-day.startRange.inRange, .flatpickr-day.endRange.inRange, .flatpickr-day.selected:focus, .flatpickr-day.startRange:focus, .flatpickr-day.endRange:focus, .flatpickr-day.selected:hover, .flatpickr-day.startRange:hover, .flatpickr-day.endRange:hover, .flatpickr-day.selected.prevMonthDay, .flatpickr-day.startRange.prevMonthDay, .flatpickr-day.endRange.prevMonthDay, .flatpickr-day.selected.nextMonthDay, .flatpickr-day.startRange.nextMonthDay, .flatpickr-day.endRange.nextMonthDay, .flatpickr-day.week.selected {
  border-color: #3c97fe !important;
  background: #3c97fe !important;
  color: #fff !important
}

.daterangepicker td.active {
  background-color: #3c97fe !important;
  color: #fff !important
}

.daterangepicker td.in-range:not(.start-date):not(.end-date):not(.off) {
  background-color: #e2efff !important;
  color: #5a6066 !important
}

.daterangepicker .input-mini.active {
  border-color: #3c97fe !important
}

.ranges li.active {
  background-color: #3c97fe !important;
  color: #fff !important
}

.dtp-date, .dtp-time {
  background: #3c97fe;
  color: #fff
}

.dtp-close > a {
  color: #fff
}

header.dtp-header {
  background: #3380d8;
  color: #fff
}

table.dtp-picker-days tr > td > a.selected {
  background: #3c97fe;
  color: #fff !important
}

.dtp-actual-meridien a.selected {
  background: #3c97fe !important;
  color: #fff !important
}

.dtp .year-picker-item:hover {
  color: #3c97fe
}

.dtp .year-picker-item.active {
  color: #3c97fe
}

.dtp .svg-clock [stroke="#8BC34A"] {
  stroke: #3c97fe !important
}

.dtp .svg-clock [fill="#8BC34A"] {
  fill: #3c97fe !important
}

.dtp .svg-clock [fill="#fff"] {
  fill: #fff !important
}

li.ui-timepicker-selected, .ui-timepicker-list .ui-timepicker-selected:hover {
  background: #3c97fe !important;
  color: #fff !important
}

.growl-default {
  background: #3c97fe !important;
  color: #fff !important
}

.md-editor.active {
  border-color: #3c97fe !important
}

.ql-snow.ql-toolbar button:hover, .ql-snow.ql-toolbar button:focus, .ql-snow.ql-toolbar button.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar button:hover, .ql-snow .ql-toolbar button:focus, .ql-snow .ql-toolbar button.ql-active, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item.ql-selected {
  color: #3c97fe !important
}

.ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill {
  fill: #3c97fe !important
}

.ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter {
  stroke: #3c97fe !important
}

.ql-snow.ql-container .ql-editor:focus {
  border-color: #3c97fe !important
}

.tt-suggestion:active, .tt-cursor {
  background: #3c97fe !important;
  color: #fff !important
}

.dropzone.dz-drag-hover {
  border-color: #3c97fe !important
}

.swiper-pagination-bullet.swiper-pagination-bullet-active, .swiper-pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #3c97fe !important
}

.sk-primary.sk-rotating-plane, .sk-primary.sk-double-bounce .sk-child, .sk-primary.sk-wave .sk-rect, .sk-primary.sk-wandering-cubes .sk-cube, .sk-primary.sk-spinner-pulse, .sk-primary.sk-chasing-dots .sk-child, .sk-primary.sk-three-bounce .sk-child, .sk-primary.sk-circle .sk-child:before, .sk-primary.sk-cube-grid .sk-cube, .sk-primary.sk-fading-circle .sk-circle:before, .sk-primary.sk-folding-cube .sk-cube:before {
  background-color: #3c97fe
}

.sw-theme-default .step-anchor > li.active > a .sw-icon, .sw-theme-default .step-anchor > li.active > a .sw-number {
  color: #3c97fe;
  border-color: #3c97fe
}

.plyr input[type='range']::-ms-fill-lower {
  background: #3c97fe !important
}

.plyr input[type='range']:active::-webkit-slider-thumb {
  background: #3c97fe !important
}

.plyr input[type='range']:active::-moz-range-thumb {
  background: #3c97fe !important
}

.plyr input[type='range']:active::-ms-thumb {
  background: #3c97fe !important
}

.plyr--video .plyr__controls button.tab-focus:focus, .plyr--video .plyr__controls button:hover {
  background: #3c97fe !important;
  color: #fff !important
}

.plyr--audio .plyr__controls button.tab-focus:focus, .plyr--audio .plyr__controls button:hover {
  background: #3c97fe !important;
  color: #fff !important
}

.plyr__play-large {
  background: #3c97fe !important;
  color: #fff !important
}

.plyr__progress--played, .plyr__volume--display {
  color: #3c97fe !important
}

.fc-event {
  background: rgba(60, 151, 254, 0.15) !important
}

.fc-event-dot {
  background: rgba(60, 151, 254, 0.4) !important
}

.fc-highlight, .fc-bgevent:not(.fc-nonbusiness) {
  background: #3c97fe !important
}

.swal2-progress-steps[class] .swal2-progress-step.swal2-active-progress-step, .swal2-progress-steps[class] .swal2-progress-step-line, .swal2-progress-steps[class] .swal2-active-progress-step, .swal2-progress-steps[class] .swal2-progress-step {
  background: #3c97fe;
  color: #fff
}

.swal2-progress-steps[class] .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step, .swal2-progress-steps[class] .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line {
  background: #cee5ff
}

.ui-product-color.active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #3c97fe !important
}

.bg-navbar-theme {
  color: #a3a4a6
}

.bg-navbar-theme .navbar-brand {
  color: #4E5155
}

.bg-navbar-theme .navbar-brand:hover, .bg-navbar-theme .navbar-brand:focus {
  color: #4E5155
}

.bg-navbar-theme .navbar-nav .nav-link {
  color: #a3a4a6
}

.bg-navbar-theme .navbar-nav .nav-link:hover, .bg-navbar-theme .navbar-nav .nav-link:focus {
  color: #4E5155
}

.bg-navbar-theme .navbar-nav .nav-link.disabled {
  color: #c4c4c6 !important
}

.bg-navbar-theme .navbar-nav .show > .nav-link, .bg-navbar-theme .navbar-nav .active > .nav-link, .bg-navbar-theme .navbar-nav .nav-link.show, .bg-navbar-theme .navbar-nav .nav-link.active {
  color: #4E5155
}

.bg-navbar-theme .navbar-toggler {
  color: #a3a4a6;
  border-color: rgba(78, 81, 85, 0.0769608)
}

.bg-navbar-theme .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 30 30' xmlns='http://www.w3.org/2000/svg'%3e%3cpath stroke='rgba(24,28,33,0.4)' stroke-width='2' stroke-linecap='round' stroke-miterlimit='10' d='M4 7h22M4 15h22M4 23h22'/%3e%3c/svg%3e")
}

.bg-navbar-theme .navbar-text {
  color: #a3a4a6
}

.bg-navbar-theme .navbar-text a {
  color: #4E5155
}

.bg-navbar-theme .navbar-text a:hover, .bg-navbar-theme .navbar-text a:focus {
  color: #4E5155
}

.bg-navbar-theme hr {
  border-color: rgba(78, 81, 85, 0.0769608)
}

.layout-navbar {
  box-shadow: 0 1px 0 rgba(24, 28, 33, 0.06)
}

.bg-sidenav-theme {
  background-color: #f5f5f5 !important;
  color: #a3a4a6
}

.bg-sidenav-theme .sidenav-link, .bg-sidenav-theme .sidenav-horizontal-prev, .bg-sidenav-theme .sidenav-horizontal-next {
  color: #a3a4a6
}

.bg-sidenav-theme .sidenav-link:hover, .bg-sidenav-theme .sidenav-link:focus, .bg-sidenav-theme .sidenav-horizontal-prev:hover, .bg-sidenav-theme .sidenav-horizontal-prev:focus, .bg-sidenav-theme .sidenav-horizontal-next:hover, .bg-sidenav-theme .sidenav-horizontal-next:focus {
  color: #4E5155
}

.bg-sidenav-theme .sidenav-link.active, .bg-sidenav-theme .sidenav-horizontal-prev.active, .bg-sidenav-theme .sidenav-horizontal-next.active {
  color: #4E5155
}

.bg-sidenav-theme .sidenav-item.disabled .sidenav-link, .bg-sidenav-theme .sidenav-horizontal-prev.disabled, .bg-sidenav-theme .sidenav-horizontal-next.disabled {
  color: #c4c4c6 !important
}

.bg-sidenav-theme .sidenav-item.open:not(.sidenav-item-closing) > .sidenav-toggle, .bg-sidenav-theme .sidenav-item.active > .sidenav-link {
  color: #4E5155
}

.bg-sidenav-theme .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #efefef
}

.bg-sidenav-theme.sidenav-horizontal .sidenav-menu > .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #e9e9e9
}

.bg-sidenav-theme.sidenav-horizontal .sidenav-inner > .sidenav-item:not(.sidenav-item-closing) > .sidenav-menu, .bg-sidenav-theme.sidenav-horizontal .sidenav-inner > .sidenav-item.open > .sidenav-toggle {
  background: #efefef
}

.bg-sidenav-theme .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-menu, .bg-sidenav-theme .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-toggle {
  background: transparent;
  color: #a3a4a6
}

.bg-sidenav-theme .sidenav-text {
  color: #4E5155
}

.bg-sidenav-theme .sidenav-header {
  color: #b8b8ba
}

.bg-sidenav-theme hr, .bg-sidenav-theme .sidenav-divider, .bg-sidenav-theme .sidenav-inner > .sidenav-item.open > .sidenav-menu::before {
  border-color: rgba(78, 81, 85, 0.0769608) !important
}

.bg-sidenav-theme .sidenav-inner > .sidenav-header::before, .bg-sidenav-theme .sidenav-block::before {
  background-color: rgba(78, 81, 85, 0.0769608)
}

.bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle::before {
  background-color: #e2e2e3
}

.bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link::before {
  background-color: #4E5155
}

.bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle::before, .bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link::before {
  box-shadow: 0 0 0 2px #efefef
}

.bg-sidenav-theme .ps__thumb-y, .bg-sidenav-theme .ps__rail-y.ps--clicking > .ps__thumb-y {
  background: rgba(78, 81, 85, 0.215686) !important
}

.bg-sidenav-theme .sidenav-inner > .sidenav-item > .sidenav-link .sidenav-icon, .bg-sidenav-theme .sidenav-inner > .sidenav-item > .sidenav-link:hover .sidenav-icon, .bg-sidenav-theme .sidenav-inner > .sidenav-item > .sidenav-link:focus .sidenav-icon {
  color: rgba(24, 28, 33, 0.2)
}

.bg-sidenav-theme .sidenav-inner > .sidenav-item.active > .sidenav-link .sidenav-icon {
  color: #3c97fe !important
}

.bg-sidenav-theme .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background: none !important
}

.layout-sidenav {
  box-shadow: 0 0 0 1px rgba(24, 28, 33, 0.06)
}

.layout-sidenav-horizontal {
  box-shadow: 0 -1px 0 rgba(24, 28, 33, 0.06) inset
}

.bg-footer-theme {
  background-color: #f5f5f5 !important;
  color: #a3a4a6
}

.bg-footer-theme .footer-link {
  color: #a3a4a6
}

.bg-footer-theme .footer-link:hover, .bg-footer-theme .footer-link:focus {
  color: #4E5155
}

.bg-footer-theme .footer-link.disabled {
  color: #c4c4c6 !important
}

.bg-footer-theme .footer-text {
  color: #4E5155
}

.bg-footer-theme .show > .footer-link, .bg-footer-theme .active > .footer-link, .bg-footer-theme .footer-link.show, .bg-footer-theme .footer-link.active {
  color: #4E5155
}

.bg-footer-theme hr {
  border-color: rgba(78, 81, 85, 0.0769608)
}

.layout-footer {
  box-shadow: 0 -1px 0 rgba(24, 28, 33, 0.06)
}

hr {
  border-color: rgba(24, 28, 33, 0.06)
}
