body {
  background: #f5f5f5
}

.bg-body {
  background: #f5f5f5 !important
}

.text-primary {
  color: #26b4ff !important
}

a.text-primary:focus, a.text-primary:hover {
  color: #008ed9 !important
}

.bg-primary {
  background-color: #26b4ff !important
}

a.bg-primary:focus, a.bg-primary:hover {
  background-color: #24abf2 !important
}

.bg-primary-dark {
  background-color: #22a2e6 !important
}

a.bg-primary-dark:focus, a.bg-primary-dark:hover {
  background-color: #209adb !important
}

.bg-primary-darker {
  background-color: #2099d9 !important
}

a.bg-primary-darker:focus, a.bg-primary-darker:hover {
  background-color: #1e91ce !important
}

html .border-primary {
  border-color: #26b4ff !important
}

.badge-primary {
  background-color: #26b4ff;
  color: #fff
}

.badge-primary[href]:focus, .badge-primary[href]:hover {
  background-color: #24abf2;
  color: #fff;
  text-decoration: none
}

.btn .badge-primary {
  background: #26b4ff !important;
  border-color: #26b4ff !important;
  color: #fff !important
}

.badge-outline-primary {
  background-color: transparent;
  box-shadow: inset 0 0 0 1px #26b4ff;
  color: #26b4ff
}

.badge-outline-primary[href]:focus, .badge-outline-primary[href]:hover {
  color: #26b4ff;
  text-decoration: none
}

.btn .badge-outline-primary {
  background-color: transparent !important;
  box-shadow: inset 0 0 0 1px #26b4ff !important;
  color: #26b4ff !important
}

.page-item.active .page-link, .page-item.active .page-link:focus, .page-item.active .page-link:hover, .pagination li.active > a:not(.page-link), .pagination li.active > a:not(.page-link):focus, .pagination li.active > a:not(.page-link):hover {
  border-color: #26b4ff;
  background-color: #26b4ff;
  color: #fff
}

.progress-bar {
  background-color: #26b4ff;
  color: #fff
}

.list-group-item-primary {
  border-color: rgba(0, 0, 0, .07);
  background-color: #e9f8ff;
  color: #5d6366
}

a.list-group-item-primary, button.list-group-item-primary {
  color: #5d6366
}

a.list-group-item-primary:focus, a.list-group-item-primary:hover, button.list-group-item-primary:focus, button.list-group-item-primary:hover {
  background-color: #e7f6fc;
  color: #5d6366
}

.list-group-item.active, .list-group-item.active:focus, .list-group-item.active:hover, a.list-group-item-primary.active, button.list-group-item-primary.active {
  border-color: #26b4ff;
  background-color: #26b4ff;
  color: #fff
}

.alert-primary {
  border-color: #d1e5f0;
  background-color: #def4ff;
  color: #596266
}

.alert-primary hr {
  border-top-color: #d1e5f0
}

.alert-primary .alert-link {
  color: #596266
}

.alert-dark-primary {
  background-color: #26b4ff;
  color: #fff
}

.alert-dark-primary hr {
  border-top-color: hsla(0, 0%, 100%, .2)
}

.alert-dark-primary .alert-link, .alert-dark-primary .close {
  color: #fff
}

.callout-primary {
  border-color: #26b4ff !important;
  background-color: #def4ff;
  color: #596266
}

.callout-primary .callout-link {
  color: #596266
}

.ngb-tooltip-primary + ngb-tooltip-window .tooltip-inner, .tooltip-primary .tooltip-inner, .tooltip-primary > .tooltip .tooltip-inner {
  background: #26b4ff;
  color: #fff
}

.ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^=top] .arrow:before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-top .arrow:before, .tooltip-primary.bs-tooltip-auto[x-placement^=top] .arrow:before, .tooltip-primary.bs-tooltip-top .arrow:before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^=top] .arrow:before, .tooltip-primary > .tooltip.bs-tooltip-top .arrow:before {
  border-top-color: #26b4ff
}

.ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^=right] .arrow:before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-right .arrow:before, .tooltip-primary.bs-tooltip-auto[x-placement^=right] .arrow:before, .tooltip-primary.bs-tooltip-right .arrow:before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^=right] .arrow:before, .tooltip-primary > .tooltip.bs-tooltip-right .arrow:before {
  border-right-color: #26b4ff
}

.ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^=bottom] .arrow:before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-bottom .arrow:before, .tooltip-primary.bs-tooltip-auto[x-placement^=bottom] .arrow:before, .tooltip-primary.bs-tooltip-bottom .arrow:before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^=bottom] .arrow:before, .tooltip-primary > .tooltip.bs-tooltip-bottom .arrow:before {
  border-bottom-color: #26b4ff
}

.ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-auto[x-placement^=left] .arrow:before, .ngb-tooltip-primary + ngb-tooltip-window.bs-tooltip-left .arrow:before, .tooltip-primary.bs-tooltip-auto[x-placement^=left] .arrow:before, .tooltip-primary.bs-tooltip-left .arrow:before, .tooltip-primary > .tooltip.bs-tooltip-auto[x-placement^=left] .arrow:before, .tooltip-primary > .tooltip.bs-tooltip-left .arrow:before {
  border-left-color: #26b4ff
}

.ngb-popover-primary + ngb-popover-window, .popover-primary, .popover-primary > .popover {
  border-color: transparent;
  background: #26b4ff
}

.ngb-popover-primary + ngb-popover-window .popover-header, .popover-primary .popover-header, .popover-primary > .popover .popover-header {
  border-color: hsla(0, 0%, 100%, .2);
  background: transparent;
  color: #fff
}

.ngb-popover-primary + ngb-popover-window .popover-body, .popover-primary .popover-body, .popover-primary > .popover .popover-body {
  background: transparent;
  color: #fff
}

.ngb-popover-primary + ngb-popover-window > .arrow:before, .popover-primary > .arrow:before, .popover-primary > .popover > .arrow:before {
  border-color: transparent
}

.ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^=top] > .arrow:after, .ngb-popover-primary + ngb-popover-window.bs-popover-top > .arrow:after, .popover-primary.bs-popover-auto[x-placement^=top] > .arrow:after, .popover-primary.bs-popover-top > .arrow:after, .popover-primary > .popover.bs-popover-auto[x-placement^=top] > .arrow:after, .popover-primary > .popover.bs-popover-top > .arrow:after {
  border-top-color: #26b4ff
}

.ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^=right] > .arrow:after, .ngb-popover-primary + ngb-popover-window.bs-popover-right > .arrow:after, .popover-primary.bs-popover-auto[x-placement^=right] > .arrow:after, .popover-primary.bs-popover-right > .arrow:after, .popover-primary > .popover.bs-popover-auto[x-placement^=right] > .arrow:after, .popover-primary > .popover.bs-popover-right > .arrow:after {
  border-right-color: #26b4ff
}

.ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^=bottom] > .arrow:after, .ngb-popover-primary + ngb-popover-window.bs-popover-bottom > .arrow:after, .popover-primary.bs-popover-auto[x-placement^=bottom] > .arrow:after, .popover-primary.bs-popover-bottom > .arrow:after, .popover-primary > .popover.bs-popover-auto[x-placement^=bottom] > .arrow:after, .popover-primary > .popover.bs-popover-bottom > .arrow:after {
  border-bottom-color: #26b4ff
}

.ngb-popover-primary + ngb-popover-window.bs-popover-auto[x-placement^=left] > .arrow:after, .ngb-popover-primary + ngb-popover-window.bs-popover-left > .arrow:after, .popover-primary.bs-popover-auto[x-placement^=left] > .arrow:after, .popover-primary.bs-popover-left > .arrow:after, .popover-primary > .popover.bs-popover-auto[x-placement^=left] > .arrow:after, .popover-primary > .popover.bs-popover-left > .arrow:after {
  border-left-color: #26b4ff
}

.table .table-primary, .table .table-primary > td, .table .table-primary > th {
  border-color: rgba(0, 0, 0, .035) !important;
  background-color: #e9f8ff;
  color: #5d6366
}

.table-hover .table-primary:hover, .table-hover .table-primary:hover > td, .table-hover .table-primary:hover > th {
  background-color: #e7f6fc
}

.btn-primary {
  background: #26b4ff
}

.btn-primary, .btn-primary:hover {
  border-color: transparent;
  color: #fff
}

.btn-primary:hover {
  background: #24abf2
}

.btn-primary.focus, .btn-primary:focus {
  box-shadow: 0 0 0 2px rgba(38, 180, 255, .4)
}

.btn-primary.disabled, .btn-primary:disabled {
  border-color: transparent !important;
  background: #26b4ff !important;
  box-shadow: none !important;
  color: #fff !important
}

.btn-primary .badge {
  background: #fff;
  color: #26b4ff
}

.btn-primary.active, .btn-primary:active, .show > .btn-primary.dropdown-toggle {
  border-color: transparent;
  background: #219dde;
  box-shadow: none
}

.btn-group .btn-primary, .input-group-append .btn-primary, .input-group-prepend .btn-primary {
  border-right: 1px solid #219dde;
  border-left: 1px solid #219dde
}

.btn-outline-primary {
  border-color: #26b4ff;
  background: transparent;
  color: #26b4ff
}

.btn-outline-primary:hover {
  border-color: transparent;
  background: #26b4ff;
  color: #fff
}

.btn-outline-primary.focus, .btn-outline-primary:focus {
  box-shadow: 0 0 0 2px rgba(38, 180, 255, .4)
}

.btn-outline-primary.disabled, .btn-outline-primary:disabled {
  border-color: #26b4ff !important;
  background: transparent !important;
  color: #26b4ff !important
}

.btn-outline-primary.active, .btn-outline-primary:active, .show > .btn-outline-primary.dropdown-toggle {
  border-color: transparent;
  background: #24abf2;
  color: #fff;
  box-shadow: none
}

.btn-outline-primary .badge {
  background: #26b4ff;
  border-color: #26b4ff;
  color: #fff
}

.btn-outline-primary.active .badge, .btn-outline-primary:active .badge, .btn-outline-primary:focus .badge, .btn-outline-primary:hover .badge, .show > .btn-outline-primary.dropdown-toggle .badge {
  background: #fff;
  border-color: #fff;
  color: #26b4ff
}

.dropdown-item:not(.disabled).active, .dropdown-item:not(.disabled):active, .dropdown-menu > li.active:not(.disabled) > a:not(.dropdown-item), .dropdown-menu > li:not(.disabled) > a:not(.dropdown-item):active, .nav-pills .nav-link.active, .nav-pills .nav-link.active:focus, .nav-pills .nav-link.active:hover {
  background-color: #26b4ff;
  color: #fff
}

.tabs-alt.nav-tabs .nav-link.active, .tabs-alt.nav-tabs .nav-link.active:focus, .tabs-alt.nav-tabs .nav-link.active:hover, .tabs-alt > .nav-tabs .nav-link.active, .tabs-alt > .nav-tabs .nav-link.active:focus, .tabs-alt > .nav-tabs .nav-link.active:hover {
  box-shadow: inset 0 -2px 0 #26b4ff
}

.custom-control .custom-control-input:active ~ .custom-control-label:before, .custom-control .custom-control-input:focus ~ .custom-control-label:before {
  border-color: #26b4ff
}

.custom-control .custom-control-input:focus ~ .custom-control-label:before {
  box-shadow: 0 0 0 2px rgba(38, 180, 255, .4)
}

.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before, .custom-control.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label:before, .custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:before {
  border-color: #26b4ff;
  background-color: #26b4ff
}

.custom-control.custom-checkbox .custom-control-input:indeterminate ~ .custom-control-label:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E")
}

.custom-control.custom-checkbox .custom-control-input:checked ~ .custom-control-label:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 9.5 7.5'%3E%3Cpolyline points='0.75 4.35 4.18 6.75 8.75 0.75' style='fill:none;stroke:%23fff;stroke-linecap:round;stroke-linejoin:round;stroke-width:1.5px'/%3E%3C/svg%3E")
}

.custom-control.custom-radio .custom-control-input:checked ~ .custom-control-label:before {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='-4 -4 8 8'%3E%3Ccircle r='3' fill='%23fff'/%3E%3C/svg%3E")
}

.custom-file-input:focus ~ .custom-file-label {
  border-color: #26b4ff
}

.custom-file-input:focus ~ .custom-file-label:after {
  border-color: inherit
}

.custom-select:focus, .form-control.focus, .form-control:focus {
  border-color: #26b4ff
}

.switcher-input:checked ~ .switcher-indicator {
  background: #26b4ff;
  color: #fff
}

.switcher-input:focus ~ .switcher-indicator {
  box-shadow: 0 0 0 2px rgba(38, 180, 255, .4)
}

.switcher-input:active ~ .switcher-indicator {
  box-shadow: none
}

.navbar.bg-primary {
  background-color: #26b4ff !important;
  color: #daf2ff
}

.navbar.bg-primary .navbar-brand, .navbar.bg-primary .navbar-brand:focus, .navbar.bg-primary .navbar-brand:hover {
  color: #fff
}

.navbar.bg-primary .navbar-nav .nav-link {
  color: #daf2ff
}

.navbar.bg-primary .navbar-nav .nav-link:focus, .navbar.bg-primary .navbar-nav .nav-link:hover {
  color: #fff
}

.navbar.bg-primary .navbar-nav .nav-link.disabled {
  color: #92d9ff !important
}

.navbar.bg-primary .navbar-nav .active > .nav-link, .navbar.bg-primary .navbar-nav .nav-link.active, .navbar.bg-primary .navbar-nav .nav-link.show, .navbar.bg-primary .navbar-nav .show > .nav-link {
  color: #fff
}

.navbar.bg-primary .navbar-toggler {
  color: #daf2ff;
  border-color: hsla(0, 0%, 100%, .15)
}

.navbar.bg-primary .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(255, 255, 255, 0.8)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")
}

.navbar.bg-primary .navbar-text {
  color: #daf2ff
}

.navbar.bg-primary .navbar-text a, .navbar.bg-primary .navbar-text a:focus, .navbar.bg-primary .navbar-text a:hover {
  color: #fff
}

.navbar.bg-primary hr {
  border-color: hsla(0, 0%, 100%, .15)
}

.sidenav.bg-primary {
  background-color: #26b4ff !important;
  color: #daf2ff
}

.sidenav.bg-primary .sidenav-horizontal-next, .sidenav.bg-primary .sidenav-horizontal-prev, .sidenav.bg-primary .sidenav-link {
  color: #daf2ff
}

.sidenav.bg-primary .sidenav-horizontal-next.active, .sidenav.bg-primary .sidenav-horizontal-next:focus, .sidenav.bg-primary .sidenav-horizontal-next:hover, .sidenav.bg-primary .sidenav-horizontal-prev.active, .sidenav.bg-primary .sidenav-horizontal-prev:focus, .sidenav.bg-primary .sidenav-horizontal-prev:hover, .sidenav.bg-primary .sidenav-link.active, .sidenav.bg-primary .sidenav-link:focus, .sidenav.bg-primary .sidenav-link:hover {
  color: #fff
}

.sidenav.bg-primary .sidenav-horizontal-next.disabled, .sidenav.bg-primary .sidenav-horizontal-prev.disabled, .sidenav.bg-primary .sidenav-item.disabled .sidenav-link {
  color: #92d9ff !important
}

.sidenav.bg-primary .sidenav-item.active > .sidenav-link, .sidenav.bg-primary .sidenav-item.open:not(.sidenav-item-closing) > .sidenav-toggle {
  color: #fff
}

.sidenav.bg-primary .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #24abf2
}

.sidenav.bg-primary.sidenav-horizontal .sidenav-menu > .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #22a2e6
}

.sidenav.bg-primary.sidenav-horizontal .sidenav-inner > .sidenav-item.open > .sidenav-toggle, .sidenav.bg-primary.sidenav-horizontal .sidenav-inner > .sidenav-item:not(.sidenav-item-closing) > .sidenav-menu {
  background: #24abf2
}

.sidenav.bg-primary .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-menu, .sidenav.bg-primary .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-toggle {
  background: transparent;
  color: #daf2ff
}

.sidenav.bg-primary .sidenav-text {
  color: #fff
}

.sidenav.bg-primary .sidenav-header {
  color: #ade3ff
}

.sidenav.bg-primary .sidenav-divider, .sidenav.bg-primary .sidenav-inner > .sidenav-item.open > .sidenav-menu:before, .sidenav.bg-primary hr {
  border-color: hsla(0, 0%, 100%, .15) !important
}

.sidenav.bg-primary .sidenav-block:before, .sidenav.bg-primary .sidenav-inner > .sidenav-header:before {
  background-color: hsla(0, 0%, 100%, .15)
}

.sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle:before {
  background-color: #45b8f4
}

.sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link:before {
  background-color: #fff
}

.sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link:before, .sidenav.bg-primary .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle:before {
  box-shadow: 0 0 0 2px #24abf2
}

.sidenav.bg-primary .ps__rail-y.ps--clicking > .ps__thumb-y, .sidenav.bg-primary .ps__thumb-y {
  background: hsla(0, 0%, 100%, .629164) !important
}

.footer.bg-primary {
  background-color: #26b4ff !important;
  color: #daf2ff
}

.footer.bg-primary .footer-link {
  color: #daf2ff
}

.footer.bg-primary .footer-link:focus, .footer.bg-primary .footer-link:hover {
  color: #fff
}

.footer.bg-primary .footer-link.disabled {
  color: #92d9ff !important
}

.footer.bg-primary .active > .footer-link, .footer.bg-primary .footer-link.active, .footer.bg-primary .footer-link.show, .footer.bg-primary .footer-text, .footer.bg-primary .show > .footer-link {
  color: #fff
}

.footer.bg-primary hr {
  border-color: hsla(0, 0%, 100%, .15)
}

.bg-primary.bs4-toast {
  color: #fff;
  background-color: rgba(38, 180, 255, .9) !important
}

.bg-primary.bs4-toast .toast-header {
  color: #fff;
  background-color: hsla(0, 0%, 100%, .1)
}

.fill-primary {
  fill: #26b4ff
}

.noUi-primary .noUi-base .noUi-connect {
  background: #26b4ff !important
}

.ql-snow.ql-toolbar .ql-picker-item.ql-selected, .ql-snow .ql-toolbar .ql-picker-item.ql-selected, .ql-snow.ql-toolbar .ql-picker-item:hover, .ql-snow .ql-toolbar .ql-picker-item:hover, .ql-snow.ql-toolbar .ql-picker-label.ql-active, .ql-snow .ql-toolbar .ql-picker-label.ql-active, .ql-snow.ql-toolbar .ql-picker-label:hover, .ql-snow .ql-toolbar .ql-picker-label:hover, .ql-snow.ql-toolbar button.ql-active, .ql-snow .ql-toolbar button.ql-active, .ql-snow.ql-toolbar button:focus, .ql-snow .ql-toolbar button:focus, .ql-snow.ql-toolbar button:hover, .ql-snow .ql-toolbar button:hover {
  color: #26b4ff !important
}

.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-fill, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-fill, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-fill, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke.ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-fill, .ql-snow.ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow .ql-toolbar button.ql-active .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:focus .ql-fill, .ql-snow .ql-toolbar button:focus .ql-fill, .ql-snow.ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:focus .ql-stroke.ql-fill, .ql-snow.ql-toolbar button:hover .ql-fill, .ql-snow .ql-toolbar button:hover .ql-fill, .ql-snow.ql-toolbar button:hover .ql-stroke.ql-fill, .ql-snow .ql-toolbar button:hover .ql-stroke.ql-fill {
  fill: #26b4ff !important
}

.ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item.ql-selected .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-item:hover .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke, .ql-snow.ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow .ql-toolbar .ql-picker-label:hover .ql-stroke-miter, .ql-snow.ql-toolbar button.ql-active .ql-stroke, .ql-snow .ql-toolbar button.ql-active .ql-stroke, .ql-snow.ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow .ql-toolbar button.ql-active .ql-stroke-miter, .ql-snow.ql-toolbar button:focus .ql-stroke, .ql-snow .ql-toolbar button:focus .ql-stroke, .ql-snow.ql-toolbar button:focus .ql-stroke-miter, .ql-snow .ql-toolbar button:focus .ql-stroke-miter, .ql-snow.ql-toolbar button:hover .ql-stroke, .ql-snow .ql-toolbar button:hover .ql-stroke, .ql-snow.ql-toolbar button:hover .ql-stroke-miter, .ql-snow .ql-toolbar button:hover .ql-stroke-miter {
  stroke: #26b4ff !important
}

.dropzone.dz-drag-hover, .ql-snow.ql-container .ql-editor:focus {
  border-color: #26b4ff !important
}

.swiper-pagination-bullet.swiper-pagination-bullet-active, .swiper-pagination.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  background: #26b4ff !important
}

.sk-primary .sk-bounce-dot, .sk-primary .sk-chase-dot:before, .sk-primary .sk-circle-dot:before, .sk-primary .sk-circle-fade-dot:before, .sk-primary .sk-fold-cube:before, .sk-primary .sk-grid-cube, .sk-primary.sk-plane, .sk-primary.sk-pulse, .sk-primary .sk-swing-dot, .sk-primary .sk-wave-rect {
  background-color: #26b4ff
}

.plyr[class] .plyr__control--overlaid {
  background: rgba(38, 180, 255, .75) !important;
  color: #fff !important
}

.plyr[class] .plyr__control.plyr__tab-focus, .plyr[class] .plyr__control:hover, .plyr[class] .plyr__control[aria-expanded=true] {
  background: #26b4ff !important;
  color: #fff !important
}

.plyr[class] .plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]:not(.plyr__tab-focus):not(:hover):before {
  background: #26b4ff !important
}

.plyr[class] .plyr__menu__container .plyr__control[role=menuitemradio][aria-checked=true]:not(.plyr__tab-focus):not(:hover):after {
  background: #fff !important
}

.plyr[class] .plyr__control.plyr__tab-focus {
  box-shadow: 0 0 0 2px rgba(38, 180, 255, .4) !important
}

.plyr--full-ui[class] input[type=range] {
  color: #26b4ff !important
}

.plyr--full-ui[class] input[type=range].plyr__tab-focus::-webkit-slider-runnable-track {
  box-shadow: 0 0 0 2px rgba(38, 180, 255, .4) !important
}

.plyr--full-ui[class] input[type=range].plyr__tab-focus::-moz-range-track {
  box-shadow: 0 0 0 2px rgba(38, 180, 255, .4) !important
}

.plyr--full-ui[class] input[type=range].plyr__tab-focus::-ms-track {
  box-shadow: 0 0 0 2px rgba(38, 180, 255, .4) !important
}

.ng-select-focused .ng-select-container {
  border-color: #26b4ff !important
}

.ng-dropdown-panel .ng-option-marked {
  background: #26b4ff !important;
  color: #fff !important
}

.ng-select .ng-spinner-loader {
  border-left-color: #26b4ff !important
}

.ng-select-primary.ng-select-multiple .ng-value, .ng-select-primary .ng-select-multiple .ng-value {
  background: #26b4ff !important;
  color: #fff !important
}

.ng2-tag-input--focused {
  border-color: #26b4ff !important
}

.ngx-chips-primary[class] .ng2-tag-input tag {
  background-color: #26b4ff !important;
  color: #fff !important
}

.ngx-chips-primary[class] .ng2-tag-input tag:active, .ngx-chips-primary[class] .ng2-tag-input tag:focus {
  background-color: #0098e8 !important;
  color: #fff !important
}

.ngx-chips-primary[class] .ng2-tag-input tag delete-icon svg path {
  fill: #fff !important
}

.ngx-chips-primary[class] .ng2-tag-input.ng2-tag-input--disabled tag, .ngx-chips-primary[class] .ng2-tag-input.ng2-tag-input--disabled tag:active, .ngx-chips-primary[class] .ng2-tag-input.ng2-tag-input--disabled tag:focus {
  background-color: #26b4ff !important;
  color: #fff !important
}

.ngx-datatable .datatable-pager ul li:not(.disabled).active a {
  border-color: #0dabff !important;
  background: #26b4ff !important;
  color: #fff !important
}

.ngx-datatable .progress-linear .container {
  background-color: #26b4ff !important
}

.ngx-datatable.cell-selection .datatable-body-row .datatable-body-cell.active, .ngx-datatable:not(.cell-selection) .datatable-body-row.active, .ngx-datatable:not(.cell-selection) .datatable-body-row.active .datatable-body-cell {
  background-color: #26b4ff !important;
  border-color: rgba(24, 28, 33, .05) !important
}

.ngx-datatable.cell-selection .datatable-body-row .datatable-body-cell.active, .ngx-datatable.cell-selection .datatable-body-row .datatable-body-cell.active .text-dark, .ngx-datatable:not(.cell-selection) .datatable-body-row.active, .ngx-datatable:not(.cell-selection) .datatable-body-row.active .datatable-body-cell, .ngx-datatable:not(.cell-selection) .datatable-body-row.active .datatable-body-cell .text-dark, .ngx-datatable:not(.cell-selection) .datatable-body-row.active .text-dark {
  color: #fff !important
}

aw-wizard ul.steps-indicator li.current .step-indicator, aw-wizard ul.steps-indicator li.editing .step-indicator {
  border-color: #26b4ff !important;
  color: #26b4ff !important
}

.cal-event {
  background: #26b4ff !important
}

.cal-day-view .cal-event, .cal-week-view .cal-event {
  background: rgba(38, 180, 255, .15) !important
}

.cal-month-view .cal-day-badge {
  background: #26b4ff !important;
  color: #fff !important
}

.cal-month-view .cal-day-cell.cal-today, .cal-week-view .cal-header.cal-today {
  background: rgba(38, 180, 255, .05) !important
}

.cal-day-view .cal-all-day-event, .cal-month-view .cal-cell.cal-has-events.cal-open {
  background: rgba(38, 180, 255, .15) !important
}

.cal-day-view .cal-all-day-event {
  border-color: rgba(38, 180, 255, .15) !important
}

.swal2-progress-steps[class] .swal2-active-progress-step, .swal2-progress-steps[class] .swal2-progress-step, .swal2-progress-steps[class] .swal2-progress-step-line, .swal2-progress-steps[class] .swal2-progress-step.swal2-active-progress-step {
  background: #26b4ff;
  color: #fff
}

.swal2-progress-steps[class] .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step, .swal2-progress-steps[class] .swal2-progress-step.swal2-active-progress-step ~ .swal2-progress-step-line {
  background: #c9ecff
}

.ui-product-color.active {
  box-shadow: 0 0 0 2px #fff, 0 0 0 4px #26b4ff !important
}

.bg-navbar-theme {
  background-color: #fff !important;
  color: #a3a4a6
}

.bg-navbar-theme .navbar-brand, .bg-navbar-theme .navbar-brand:focus, .bg-navbar-theme .navbar-brand:hover {
  color: #4e5155
}

.bg-navbar-theme .navbar-nav .nav-link {
  color: #a3a4a6
}

.bg-navbar-theme .navbar-nav .nav-link:focus, .bg-navbar-theme .navbar-nav .nav-link:hover {
  color: #4e5155
}

.bg-navbar-theme .navbar-nav .nav-link.disabled {
  color: #c8c8ca !important
}

.bg-navbar-theme .navbar-nav .active > .nav-link, .bg-navbar-theme .navbar-nav .nav-link.active, .bg-navbar-theme .navbar-nav .nav-link.show, .bg-navbar-theme .navbar-nav .show > .nav-link {
  color: #4e5155
}

.bg-navbar-theme .navbar-toggler {
  color: #a3a4a6;
  border-color: rgba(78, 81, 85, .075)
}

.bg-navbar-theme .navbar-toggler-icon {
  background-image: url("data:image/svg+xml,<svg xmlns='http://www.w3.org/2000/svg' width='30' height='30' viewBox='0 0 30 30'><path stroke='rgba(24, 28, 33, 0.4)' stroke-linecap='round' stroke-miterlimit='10' stroke-width='2' d='M4 7h22M4 15h22M4 23h22'/></svg>")
}

.bg-navbar-theme .navbar-text {
  color: #a3a4a6
}

.bg-navbar-theme .navbar-text a, .bg-navbar-theme .navbar-text a:focus, .bg-navbar-theme .navbar-text a:hover {
  color: #4e5155
}

.bg-navbar-theme hr {
  border-color: rgba(78, 81, 85, .075)
}

.layout-navbar {
  box-shadow: 0 1px 0 rgba(24, 28, 33, .06)
}

.bg-sidenav-theme {
  background-color: #2e323a !important;
  color: #838790;
}

.bg-sidenav-theme .sidenav-horizontal-next, .bg-sidenav-theme .sidenav-horizontal-prev, .bg-sidenav-theme .sidenav-link {
  color: #838790
}

.bg-sidenav-theme .sidenav-horizontal-next.active, .bg-sidenav-theme .sidenav-horizontal-next:focus, .bg-sidenav-theme .sidenav-horizontal-next:hover, .bg-sidenav-theme .sidenav-horizontal-prev.active, .bg-sidenav-theme .sidenav-horizontal-prev:focus, .bg-sidenav-theme .sidenav-horizontal-prev:hover, .bg-sidenav-theme .sidenav-link.active, .bg-sidenav-theme .sidenav-link:focus, .bg-sidenav-theme .sidenav-link:hover {
  color: #fff
}

.bg-sidenav-theme .sidenav-horizontal-next.disabled, .bg-sidenav-theme .sidenav-horizontal-prev.disabled, .bg-sidenav-theme .sidenav-item.disabled .sidenav-link {
  color: #61656e !important
}

.bg-sidenav-theme .sidenav-item.active > .sidenav-link, .bg-sidenav-theme .sidenav-item.open:not(.sidenav-item-closing) > .sidenav-toggle {
  color: #fff
}

.bg-sidenav-theme .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #383c44
}

.bg-sidenav-theme.sidenav-horizontal .sidenav-menu > .sidenav-item.active > .sidenav-link:not(.sidenav-toggle) {
  background-color: #42464d
}

.bg-sidenav-theme.sidenav-horizontal .sidenav-inner > .sidenav-item.open > .sidenav-toggle, .bg-sidenav-theme.sidenav-horizontal .sidenav-inner > .sidenav-item:not(.sidenav-item-closing) > .sidenav-menu {
  background: #383c44
}

.bg-sidenav-theme .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-menu, .bg-sidenav-theme .sidenav-inner > .sidenav-item.sidenav-item-closing .sidenav-item.open .sidenav-toggle {
  background: transparent;
  color: #838790
}

.bg-sidenav-theme .sidenav-text {
  color: #fff
}

.bg-sidenav-theme .sidenav-header {
  color: #6e727b
}

.bg-sidenav-theme .sidenav-divider, .bg-sidenav-theme .sidenav-inner > .sidenav-item.open > .sidenav-menu:before, .bg-sidenav-theme hr {
  border-color: hsla(0, 0%, 100%, .06) !important
}

.bg-sidenav-theme .sidenav-block:before, .bg-sidenav-theme .sidenav-inner > .sidenav-header:before {
  background-color: hsla(0, 0%, 100%, .06)
}

.bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle:before {
  background-color: #44484f
}

.bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link:before {
  background-color: #fff
}

.bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.active > .sidenav-link:before, .bg-sidenav-theme .sidenav-inner > .sidenav-item.open .sidenav-item.open > .sidenav-toggle:before {
  box-shadow: 0 0 0 2px #383c44
}

.bg-sidenav-theme .ps__rail-y.ps--clicking > .ps__thumb-y, .bg-sidenav-theme .ps__thumb-y {
  background: hsla(0, 0%, 100%, .477986) !important
}

.bg-footer-theme {
  background-color: #fff !important;
  color: #a3a4a6
}

.bg-footer-theme .footer-link {
  color: #a3a4a6
}

.bg-footer-theme .footer-link:focus, .bg-footer-theme .footer-link:hover {
  color: #4e5155
}

.bg-footer-theme .footer-link.disabled {
  color: #c8c8ca !important
}

.bg-footer-theme .active > .footer-link, .bg-footer-theme .footer-link.active, .bg-footer-theme .footer-link.show, .bg-footer-theme .footer-text, .bg-footer-theme .show > .footer-link {
  color: #4e5155
}

.bg-footer-theme hr {
  border-color: rgba(78, 81, 85, .075)
}
