<div id="content" class="layout-wrapper layout-2">
  <div class="layout-inner">
    <app-sidebar></app-sidebar>
    <div class="layout-container">
      <app-navbar></app-navbar>
      <div class="layout-content">
        <div class="container-fluid flex-grow-1 container-p-y">
          <router-outlet></router-outlet>
        </div>
        <app-footer></app-footer>
      </div>
    </div>
  </div>
  <div class="layout-overlay layout-sidenav-toggle"></div>
</div>
