<nav class="layout-footer footer bg-footer-theme d-print-none">
  <div class="container-fluid d-flex flex-wrap justify-content-between text-center container-p-x pb-3">
    <div class="pt-3">
      <span class="footer-text fw-bolder">Version 1.0.0</span>
    </div>
    <div>
      <a href="javascript:void(0)" class="footer-link pt-3">A propos</a>
      <a href="javascript:void(0)" class="footer-link pt-3 ms-4">Aide</a>
      <a href="javascript:void(0)" class="footer-link pt-3 ms-4">Contact</a>
      <a href="javascript:void(0)" class="footer-link pt-3 ms-4">Termes &amp; Conditions</a>
    </div>
  </div>
</nav>
