
.footer-link {
  display: inline-block
}

.footer-dark {
  color: rgba(255, 255, 255, 0.8)
}

.footer-dark .footer-link {
  color: rgba(255, 255, 255, 0.8)
}

.footer-dark .footer-link:hover, .footer-dark .footer-link:focus {
  color: #fff
}

.footer-dark .footer-link.disabled {
  color: rgba(255, 255, 255, 0.4) !important
}

.footer-dark .footer-text {
  color: #fff
}

.footer-dark .show > .footer-link, .footer-dark .active > .footer-link, .footer-dark .footer-link.show, .footer-dark .footer-link.active {
  color: #fff
}

.footer-dark hr {
  border-color: rgba(255, 255, 255, 0.2)
}

.footer-light {
  color: rgba(24, 28, 33, 0.4)
}

.footer-light .footer-link {
  color: rgba(24, 28, 33, 0.4)
}

.footer-light .footer-link:hover, .footer-light .footer-link:focus {
  color: #4E5155
}

.footer-light .footer-link.disabled {
  color: rgba(24, 28, 33, 0.2) !important
}

.footer-light .footer-text {
  color: #4E5155
}

.footer-light .show > .footer-link, .footer-light .active > .footer-link, .footer-light .footer-link.show, .footer-light .footer-link.active {
  color: #4E5155
}

.footer-light hr {
  border-color: rgba(0, 0, 0, 0.06)
}

.layout-footer-fixed .layout-footer {
  position: fixed;
  bottom: 0;
  left: 0;
  right: 0
}

@media (min-width: 992px) {
  .layout-footer-fixed:not(.layout-collapsed) .layout-wrapper:not(.layout-without-sidenav) .layout-footer {
    left: 15.625rem
  }

  .layout-footer-fixed:not(.layout-collapsed).layout-reversed .layout-wrapper:not(.layout-without-sidenav) .layout-footer {
    right: 15.625rem;
    left: 0
  }

  .layout-footer-fixed.layout-collapsed:not(.layout-offcanvas):not(.layout-fixed-offcanvas) .layout-wrapper:not(.layout-without-sidenav) .layout-footer {
    left: 4.375rem
  }

  .layout-footer-fixed.layout-collapsed:not(.layout-offcanvas):not(.layout-fixed-offcanvas).layout-reversed .layout-wrapper:not(.layout-without-sidenav) .layout-footer {
    right: 4.375rem;
    left: 0
  }
}

.layout-footer-fixed .layout-footer {
  z-index: 1030
}
