<div class="layout-sidenav sidenav bg-sidenav-theme">

  <div class="app-brand demo">
    <span class="app-brand-logo demo bg-primary">
      <img src="assets/img/logo-circle.svg" alt="Logo"/>
    </span>
    <a routerLink="" class="app-brand-text demo sidenav-text fw-normal ms-2">
      MyLinks
    </a>
    <a href="javascript:void(0)" class="layout-sidenav-toggle sidenav-link text-large ms-auto">
      <em class="bi bi-list align-middle"></em>
    </a>
  </div>

  <div class="sidenav-divider mt-0"></div>

  <ul class="sidenav-inner py-1 ps">

    <li class="sidenav-item" routerLinkActive="active">
      <a class="sidenav-link" routerLink="/dashboard">
        <em class="sidenav-icon bi bi-speedometer2"></em>
        <div>Tableau de board</div>
      </a>
    </li>

    <li class="sidenav-item" routerLinkActive="active">
      <a class="sidenav-link" routerLink="/search">
        <em class="sidenav-icon bi bi-search"></em>
        <div>Recherche avancée</div>
      </a>
    </li>

    <li class="sidenav-item" routerLinkActive="active">
      <a class="sidenav-link" routerLink="/modules">
        <em class="sidenav-icon bi bi-columns-gap"></em>
        <div>Modules</div>
      </a>
    </li>

    <li class="sidenav-divider mb-1"></li>
    <li class="sidenav-header small fw-semibold">ELEMENTS</li>

    <li class="sidenav-item" routerLinkActive="active">
      <a class="sidenav-link" routerLink="/contracts/list">
        <em class="sidenav-icon bi bi-journal-text"></em>
        <div>Contrats</div>
      </a>
    </li>
    <li class="sidenav-item" routerLinkActive="active">
      <a class="sidenav-link" routerLink="/clients/list">
        <em class="sidenav-icon bi bi-people"></em>
        <div>Clients</div>
      </a>
    </li>
    <li class="sidenav-item" routerLinkActive="active">
      <a class="sidenav-link" routerLink="/partners/list">
        <em class="sidenav-icon bi bi-intersect"></em>
        <div>Partenaires</div>
      </a>
    </li>

    <li class="sidenav-divider mb-1"></li>
    <li class="sidenav-header small fw-semibold">MODULES</li>

  </ul>

</div>
