.sidenav {
  display: -ms-flexbox;
  display: flex;
  overflow: hidden;
  -ms-flex-direction: column;
  flex-direction: column
}
.sidenav .app-brand {
  width: 100%
}
.sidenav-inner {
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start;
  margin: 0;
  padding: 0
}
.sidenav-item {
  -ms-flex-align: start;
  align-items: flex-start;
  -ms-flex-pack: start;
  justify-content: flex-start
}
.sidenav-item .sidenav-link {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-align: center;
  align-items: center;
  -ms-flex: 0 1 auto;
  flex: 0 1 auto
}
.sidenav-item.active > .sidenav-link {
  font-weight: 500
}
.sidenav:not(.sidenav-no-animation) .sidenav-item .sidenav-link {
  transition-duration: .2s;
  transition-property: color, background-color
}
.sidenav-item .sidenav-link > :not(.sidenav-icon) {
  -ms-flex: 0 1 auto;
  flex: 0 1 auto
}
.sidenav-toggle::after {
  content: "";
  position: absolute;
  top: 50%;
  display: block;
  width: .42em;
  height: .42em;
  border: 1px solid;
  border-top: 0;
  border-right: 0;
  -webkit-transform: translateY(-50%) rotate(45deg);
  transform: translateY(-50%) rotate(45deg)
}
.sidenav:not(.sidenav-no-animation) .sidenav-toggle::after {
  transition-duration: .2s;
  transition-property: -webkit-transform, transform
}
.sidenav-icon {
  -ms-flex-positive: 0;
  flex-grow: 0;
  -ms-flex-negative: 0;
  flex-shrink: 0;
  margin-right: .25rem;
  font-size: 1rem
}
.sidenav-divider {
  width: 100%;
  border: 0;
  border-top: 1px solid
}
.sidenav-vertical:not(.sidenav-no-animation) {
  transition: width .2s
}
.sidenav-vertical, .sidenav-block, .sidenav-inner > .sidenav-item, .sidenav-inner > .sidenav-header {
  width: 15.625rem
}
.sidenav-inner {
  -ms-flex-direction: column;
  flex-direction: column;
  -ms-flex: 1 1 auto;
  flex: 1 1 auto
}
.sidenav-inner > .sidenav-item {
  margin: .0625rem 0
}
.sidenav-item .sidenav-link, .sidenav-header {
  padding: .75rem 2rem
}
.sidenav-divider {
  margin-top: .75rem;
  margin-bottom: .75rem;
  padding: 0
}
.sidenav-item .sidenav-toggle {
  padding-right: calc(2rem + 1.26em)
}
.sidenav-item .sidenav-toggle::after {
  right: 2rem
}
.sidenav-menu .sidenav-link {
  padding-top: .625rem;
  padding-bottom: .625rem
}
.sidenav-icon {
  width: 1.75rem
}
.sidenav-menu .sidenav-icon {
  margin-right: 0
}
.sidenav-menu .sidenav-link, .sidenav-menu .sidenav-header {
  padding-left: 4rem
}
.sidenav-menu .sidenav-menu .sidenav-link, .sidenav-menu .sidenav-menu .sidenav-header {
  padding-left: 5rem
}
.sidenav-menu .sidenav-menu .sidenav-menu .sidenav-link, .sidenav-menu .sidenav-menu .sidenav-menu .sidenav-header {
  padding-left: 6rem
}
.sidenav-menu .sidenav-menu .sidenav-menu .sidenav-menu .sidenav-link, .sidenav-menu .sidenav-menu .sidenav-menu .sidenav-menu .sidenav-header {
  padding-left: 7rem
}
.sidenav-menu .sidenav-menu .sidenav-menu .sidenav-menu .sidenav-menu .sidenav-link, .sidenav-menu .sidenav-menu .sidenav-menu .sidenav-menu .sidenav-menu .sidenav-header {
  padding-left: 8rem
}
@-webkit-keyframes sidenavDropdownShow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
@keyframes sidenavDropdownShow {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-0.5rem);
    transform: translateY(-0.5rem)
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0)
  }
}
.sidenav-collapsed:not(:hover) {
  width: 4.375rem
}
.sidenav-collapsed:not(:hover) .sidenav-inner > .sidenav-item {
  width: 16.25rem
}
.sidenav-collapsed:not(:hover) .sidenav-inner > .sidenav-item > .sidenav-link {
  padding-left: 4.375rem
}
.sidenav-collapsed:not(:hover) .sidenav-inner > .sidenav-header, .sidenav-collapsed:not(:hover) .sidenav-block {
  position: relative;
  margin-left: 4.375rem;
  padding-right: 3.75rem;
  padding-left: .25rem;
  width: 15.625rem
}
.sidenav-collapsed:not(:hover) .sidenav-inner > .sidenav-header::before, .sidenav-collapsed:not(:hover) .sidenav-block::before {
  content: "";
  position: absolute;
  top: .75rem;
  bottom: .75rem;
  left: -3.28125rem;
  display: block;
  width: 2.1875rem
}
.sidenav-collapsed:not(:hover) .sidenav-menu .sidenav-header, .sidenav-collapsed:not(:hover) .sidenav-menu .sidenav-divider {
  visibility: hidden !important
}
.sidenav-collapsed:not(:hover) .sidenav-inner > .sidenav-item > .sidenav-toggle::after {
  right: auto;
  left: 3.5rem
}
.sidenav-collapsed:not(:hover) .sidenav-inner > .sidenav-item > .sidenav-link .sidenav-icon {
  margin-left: -4.375rem;
  width: 4.375rem;
  text-align: center
}
