<div class="authentication-wrapper authentication ui-bg-cover ui-bg-overlay-container px-4"
     style="background-image: url('assets/img/auth-bg.jpg');">
  <div class="ui-bg-overlay bg-dark opacity-25"></div>

  <div class="authentication-inner py-5">

    <div class="card">
      <div class="p-4 px-sm-5 pt-sm-5">

        <!-- Logo -->
        <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
          <div class="ui-w-60">
            <div class="w-100 position-relative">
              <img src="assets/img/logo.svg" alt="logo"/>
            </div>
          </div>
        </div>
        <!-- / Logo -->

        <h5 class="text-center text-muted fw-normal mb-4">Créez-vous un compte</h5>

        <div class="alert alert-dark-danger" *ngIf="errorMessage">
          {{errorMessage}}
        </div>

        <!-- Form -->
        <form [formGroup]="signUpForm" (ngSubmit)="signUp()">

          <!-- Input Email -->
          <div class="mb-3">
            <label class="form-label" for="email">Adresse Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="Adresse Email"
              autocomplete="email"
              formControlName="email"
              required
            />
          </div>
          <!-- / Input Email -->

          <!-- Input Password -->
          <div class="mb-3">
            <label class="form-label" for="password">Mot de passe</label>
            <input
              type="password"
              name="password"
              id="password"
              class="form-control"
              placeholder="Mot de passe"
              autocomplete="current-password"
              formControlName="password"
              required
            />
          </div>
          <!-- / Input Password -->

          <!-- Form Button -->
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
              S'inscrire
            </button>
          </div>
          <!-- / Form Button -->

          <!-- Terms of Use -->
          <div class="text-light small mt-4">
            En cliquant sur "S'inscrire", vous acceptez nos
            <a href="javascript:void(0)">
              conditions d'utilisation et notre politique de confidentialité
            </a>.
            Nous vous enverrons occasionnellement des e-mails relatifs à votre compte.
          </div>
          <!-- / Terms of Use -->

        </form>
        <!-- / Form -->

      </div>
      <div class="card-footer py-3 px-4">
        <div class="text-center text-muted">
          Vous avez déjà un compte ? <a routerLink="/sign-in">Se connecter</a>
        </div>
      </div>
    </div>

  </div>
</div>
