<div class="authentication-wrapper authentication ui-bg-cover ui-bg-overlay-container px-4"
     style="background-image: url('assets/img/auth-bg.jpg');">
  <div class="ui-bg-overlay bg-dark opacity-25"></div>

  <div class="authentication-inner py-5">

    <div class="card">
      <div class="p-4 p-sm-5">

        <!-- Logo -->
        <div class="d-flex justify-content-center align-items-center pb-2 mb-4">
          <div class="ui-w-60">
            <div class="w-100 position-relative">
              <img src="assets/img/logo.svg" alt="logo"/>
            </div>
          </div>
        </div>
        <!-- / Logo -->

        <h6 class="text-center text-muted fw-normal mb-4">
          Réinitialiser votre mot de passe
        </h6>

        <div class="alert alert-dark-danger" *ngIf="errorMessage && !successMessage">
          {{errorMessage}}
        </div>

        <div class="alert alert-dark-success" *ngIf="successMessage">
          {{successMessage}}
        </div>

        <p>
          Aucun soucis ! Entrez votre adresse Email et nous vous enverrons les instructions afin de réinitialiser
          votre mot de passe.
        </p>

        <!-- Form -->
        <form [formGroup]="forgotForm" (ngSubmit)="forgot()">

          <!-- Input Email -->
          <div class="mb-3">
            <label class="form-label" for="email">Adresse Email</label>
            <input
              type="email"
              id="email"
              class="form-control"
              placeholder="Adresse Email"
              autocomplete="email"
              formControlName="email"
              required
            />
          </div>
          <!-- / Input Email -->

          <!-- Form Button -->
          <div class="d-grid gap-2">
            <button type="submit" class="btn btn-primary">
              Envoyer les instructions
            </button>
          </div>
          <!-- / Form Button -->

        </form>
        <!-- / Form -->

      </div>

    </div>

  </div>
</div>

