<h4 nz-typography class="d-flex justify-content-between align-items-center fw-light mb-4">
  <span>Liste des partenaires</span>
  <button nz-button nzType="primary" routerLink="/partners/new">
    Ajouter un partenaire
  </button>
</h4>

<div nz-row [nzGutter]="16">
  <div nz-col class="gutter-row" [nzSpan]="6">
    <nz-card>

    </nz-card>
  </div>
</div>

